
@media (max-width: 850px) {
  .norm_padding {
    padding: 12px 36px 12px 36px !important;
  }
  .box:last-child {
    display: none;
  }
  .box:before {
    margin-top: 100% !important;
  }
  .box {
    width: 24% !important;
  }
  .blocks .box_line:nth-child(3) {
    display: none !important;
  }
  .left {
    width: 50% !important;
    flex-direction: column !important;
  }
  .right {
    width: 50% !important;
    flex-direction: column-reverse !important;
  }
  .box_big {
    width: 100% !important;
  }
  .box_smalls {
    flex-direction: row !important;
    width: 100% !important;
    margin-top: 10px !important;
  }
  .right .box_smalls {
    margin-bottom: 10px !important;
    margin-top: 0 !important;
  }
  .box_small:before {
    margin-top: 100% !important; 
  }
  .box_smalls .box_small {
    height: 100% !important;
    width: 48.5% !important;    
  }
  .name_category {
    display: none !important;   
  }
  .about_us .mid {
    flex-direction: column !important;
  }
  .about_us .mid .block {
    margin-bottom: 10px !important;
    width: 100% !important;
  }
  .about_us .mid .block p{
    width: 60% !important;
    margin: auto !important;
  }

  footer .info {
    flex-direction: row !important;
  }
  footer .cell {
    width: 100% !important;
  }
  #options_frame .modal {
    width: 600px !important;
    left: 50% !important;
    margin-top: -300px !important; 
  }
  body footer .info .cell .wapper {
    width: 100px !important;
  }
  footer .botton .flex {
    width: 300px !important;
    flex-direction: column;
  }
  footer .botton .copyright{
    padding: 0 !important;
  }
}








/*for window option*/
@media (max-width: 680px){
  #options_frame .modal {
    width: 80% !important;
    left: 10% !important;
    margin-left: 0px !important ;
  }
}






@media (max-width: 500px) {
  .norm_padding {
    padding: 12px 10px 12px 10px !important;
  }
  header {
    padding: 12px 10px 12px 10px !important;
  }
  header .top .bascket {
    padding: 8px 14px 0px 0px !important;
  }
  header .top .logo {
    width: 52px !important;
  }
  header .top .bars {
    margin-right: 15px !important;
  }
  header .top .search {
    padding: 5px 0px 0px 0px !important;
  }
  header .top .sing_up {
    width: 43px !important;
    padding: 5px 0px 0px 0px !important;
  }
  header .top .bascket {
    width: 34px !important;
    padding: 8px 14px 0px 0px !important;
  }
  section.hello {
    height: 350px !important;
  }
  .blocks .box_line {
    margin: 0 0 10px 0 !important;
  }
  .blocks .box_line:nth-child(3) {
    display: flex !important;
  }
  .box:nth-child(3) {
    display: none !important;
  }
  .box:nth-child(4) {
    display: none !important;
  }
  .box {
    width: 49% !important;
  }

  footer .info {
    flex-direction: column !important;
  }
  footer .cell {
    /*width: 100% !important;*/
  }
  footer .cell:hover{
    box-shadow: 0 0 1px 5px #0000003b;
  }
  body footer .info .cell .wapper {
    margin: 10px 0 0 10px !important;
  }
  body footer .info .cell .wapper {
    width: 99% !important; 
  }
  #options_frame .modal .main_options {
    height: 350px !important;
  }
  #options_frame .modal .buttons div{
    padding: 0 10px !important;
  }
  #options_frame .modal .buttons #close{
    width: 100% !important;
  }
  #options_frame .modal .buttons #save{
    width: 100% !important;
  }
  #options_frame .modal i {
    right: 27px !important;
  }
  #options_frame .modal select {
    width: 92% !important;
  }
  #options_frame .modal .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #options_frame .modal .buttons div{
    padding: 0 10px !important;
  }
  #options_frame .modal .buttons #close{
    width: 100% !important;
    margin-bottom: 10px;
  }
  #options_frame .modal .buttons #save{
    width: 100% !important;
  }
}
@media (max-width: 350px) {
  section.hello {
    font-size:75px !important;
  }
}