
@media (max-width: 850px) {
  .norm_padding {
    padding: 12px 36px 12px 36px !important;
  }
  .box:last-child {
    display: none;
  }
  .box:before {
    margin-top: 100% !important;
  }
  .box {
    width: 24% !important;
  }
  .blocks .box_line:nth-child(3) {
    display: none !important;
  }
  .left {
    width: 50% !important;
    flex-direction: column !important;
  }
  .right {
    width: 50% !important;
    flex-direction: column-reverse !important;
  }
  .box_big {
    width: 100% !important;
  }
  .box_smalls {
    flex-direction: row !important;
    width: 100% !important;
    margin-top: 10px !important;
  }
  .right .box_smalls {
    margin-bottom: 10px !important;
    margin-top: 0 !important;
  }
  .box_small:before {
    margin-top: 100% !important; 
  }
  .box_smalls .box_small {
    height: 100% !important;
    width: 48.5% !important;    
  }
  .name_category {
    display: none !important;   
  }
  .about_us .mid {
    flex-direction: column !important;
  }
  .about_us .mid .block {
    margin-bottom: 10px !important;
    width: 100% !important;
  }
  .about_us .mid .block p{
    width: 60% !important;
    margin: auto !important;
  }

  footer .info {
    flex-direction: row !important;
  }
  footer .cell {
    width: 100% !important;
  }
  #options_frame .modal {
    width: 600px !important;
    left: 50% !important;
    margin-top: -300px !important; 
  }
  body footer .info .cell .wapper {
    width: 100px !important;
  }
  footer .botton .flex {
    width: 300px !important;
    flex-direction: column;
  }
  footer .botton .copyright{
    padding: 0 !important;
  }
}








/*for window option*/
@media (max-width: 680px){
  #options_frame .modal {
    width: 94% !important;
    left: 0 !important;
    top: 50% !important;
    margin-left: 3% !important;
    height: 525px !important;
    margin-top: -265px !important;
  }
  header .top .sing_up_back .sing_up_modal{
    width: 94% !important;
    left: 0 !important;
    top: 50% !important;
    margin-left: 3% !important;
    height: 525px !important;
    margin-top: -265px !important;
  }

  .sing_up_back .sing_up_modal .wapper{
    padding: 0px 20px !important;
  }
  .sing_up_back .sing_up_modal .main .icon{
    width: 50px !important;
  }
  .sing_up_back .sing_up_modal .main .passwords .passwodr-one {
    width: 47% !important;
  }
  .sing_up_back .sing_up_modal .main .passwords .password-two {
    width: 47% !important;
  }
  .sing_up_back .sing_up_modal .main .passwords .icon {
    width: 50px !important;
  }
  .sing_up_back .sing_up_modal .main .input {
    width: 100% !important;
    
  }
  header .top .sing_up_back .sing_up_modal .steps {
    height: 17px !important
  }
  header .top .sing_up_back .sing_up_modal .main .input input{
    padding: 0 !important;
  }
  .sing_up_back .sing_up_modal .buttons {
    padding: 50px 0 0 0px !important;
  }
  .sing_up_back .sing_up_modal .buttons #close_sing_up {
    width: 47% !important;
  }
  .sing_up_back .sing_up_modal .buttons #continue_sing_up{
    width: 47% !important;
  }
}






@media (max-width: 500px) {
  .norm_padding {
    padding: 12px 10px 12px 10px !important;
  }
  header .nav {
    left: 0 !important;
  }
  header {
    padding: 12px 10px 12px 10px !important;
  }
  header .top {
    position: fixed !important;
    left: 0px !important;
    top: 0px !important;
    background-color: #fff;
    z-index: 10;
  }
  header .top .bascket {
    padding: 8px 14px 0px 0px !important;
  }
  header .top .logo {
    width: 52px !important;
  }
  header .top .bars {
    margin-right: 15px !important;
  }
  header .top .search {
    padding: 5px 0px 0px 0px !important;
  }
  header .top .search .search_line button {
    display: none;
  }
  header .top .sing_up {
    width: 43px !important;
    padding: 5px 0px 0px 0px !important;
  }
  header .top .bascket {
    width: 34px !important;
    padding: 8px 14px 0px 0px !important;
  }
  header .top .setting{
    margin: 0 0px 0 0 !important;
    width: 39px !important;
    padding: 6px 0px 0px 0px !important
  }
  header .menu-bar {
    position: fixed !important;
    z-index: 10 !important;
    left: -21px !important;
  }
  header .menu-bar #menu li {
    text-align: center !important;
  }
  section.hello {
    height: 350px !important;
  }
  .blocks .box_line {
    margin: 0 0 10px 0 !important;
  }
  .blocks .box_line:nth-child(3) {
    display: flex !important;
  }
  .box:nth-child(3) {
    display: none !important;
  }
  .box:nth-child(4) {
    display: none !important;
  }
  .box {
    width: 49% !important;
  }

  footer .info {
    flex-direction: column !important;
  }
  footer .cell {
    /*width: 100% !important;*/
  }
  footer .cell:hover{
    box-shadow: 0 0 1px 5px #0000003b;
  }
  body footer .info .cell .wapper {
    margin: 10px 0 0 10px !important;
  }
  body footer .info .cell .wapper {
    width: 99% !important; 
  }
  .botton .options #options_frame .modal .wapper{
    padding: 0 !important;
  }
  #options_frame .modal .main_options {
    height: 350px !important;
  }
  #options_frame .modal .buttons div{
    padding: 0 20px !important;
  }
  #options_frame .modal .buttons #close{
    width: 100% !important;
  }
  #options_frame .modal .buttons #save{
    width: 100% !important;
  }
  #options_frame .modal i {
    right: 53px !important;
  }
  #options_frame .modal select {
    width: 92% !important;
  }
  #options_frame .modal .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #options_frame .modal .buttons div{
    padding: 0 20px !important;
  }
  #options_frame .modal .buttons #close{
    width: 47% !important;
    height: 50px !important;
  }
  #options_frame .modal .buttons #save{
    width: 47% !important;
    height: 50px !important;
  }
}
@media (max-width: 350px) {
  section.hello {
    font-size:75px !important;
  }
}