@media (max-width: 500px) {
	html {
		padding: 0px 0px !important;
	}
	body .main {
		padding: 10px;
	}
	body .main .contact-detatls {
		width: 100% !important;
	}
	body .main .cart .list .picture .info {
		margin: 0;
	}
	body .main .cart .list .picture .info .cell p {
		padding: 0px 10px 0px 0px
	}
}
@media (max-width: 800px) {
	body .main .cart .list .picture .info {
		width: 100% !important;
	}
	body .main .cart .list .picture .block {
		max-width: 100% !important;
		max-height: 100% !important;
		margin-bottom: 30px;
	}
	body .main .cart .list .picture {
		flex-wrap: wrap;
	}
}
@media (max-width: 1000px) {
	body .main {
		flex-wrap: wrap;
		justify-content: center;
		display: block;
	}
	body .main .cart .list .picture:last-child{
		margin-bottom: 30px;
	}

	
	
}