@media (max-width: 500px) {

}
@media (max-width: 800px) {

}
@media (max-width: 1000px) {
	body .background .content .right {
		display: none;
	}
	body .background .content .main-profil {
		width: 100%;
		min-width: 300px;
	}
	body .background .content .main-profil .setting-bar{
		margin-bottom: 10px;
	}
	body .background .content .main-profil .setting-bar .cell:nth-child(3){
		display: flex;
	}
	body .background .content .main-profil .setting-bar .cell:nth-child(4){
		display: flex;
	}
	
	
}



