@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@keyframes animation-linear-grdient {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-webkit-keyframes animation-linear-grdient {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
  color: black;
}

.norm_padding {
  padding: 12px 36px 12px 36px !important;
}

header .nav {
  display: block;
  width: 100%;
  position: relative;
  position: fixed;
  height: 3px;
  top: 0px;
  z-index: 11;
}
header .nav #bar {
  background-color: red;
  height: 3px;
}
header .top {
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 0 0 0;
  -webkit-box-shadow: 0px 5px 10px 0px #00000052;
          box-shadow: 0px 5px 10px 0px #00000052;
}
header .top .logo {
  width: 80px;
  height: 48px;
  padding: 8px 0 0 0;
}
header .top .logo i {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header .top .logo .fa-star-of-life:before {
  content: "";
  vertical-align: middle;
}
header .top .bars {
  height: 48px;
  margin-right: 18px;
}
header .top .bars i {
  padding: 8px 0px 0px 0px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header .top .search {
  width: 165px;
  height: 48px;
  padding: 5px 0px 0px 0px;
}
header .top .search .search_line {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
header .top .search .search_line input {
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #9E9C9C;
  position: absolute;
  width: 100%;
}
header .top .search .search_line button {
  width: 42px;
  border: none;
  cursor: pointer;
  right: 0;
  position: absolute;
  background-color: #fff;
}
header .top .sing_up {
  width: 64px;
  height: 48px;
  margin-left: auto;
  padding: 5px 0px 0px 0px;
  font-size: 18px;
}
header .top .sing_up div {
  width: 22px;
  height: 22px;
}
header .top .sing_up i {
  cursor: pointer;
}
header .top .sing_up_back {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 10;
  display: none;
  -webkit-transition: 0.3s, 0.1s;
  transition: 0.3s, 0.1s;
}
header .top .sing_up_back .sing_up_modal {
  width: 600px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 11;
  color: #000;
}
header .top .sing_up_back .sing_up_modal .wapper {
  padding: 0px 50px;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(135deg, #00c7e1, #ff8398);
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  animation: animation-linear-grdient 30s ease infinite;
  -webkit-animation: animation-linear-grdient 30s ease infinite;
  -moz-animation: animation-linear-grdient 30s ease infinite;
  -o-animation: animation-linear-grdient 30s ease infinite;
}
header .top .sing_up_back .sing_up_modal .hello {
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 25px 0 0 0;
  text-transform: uppercase;
  color: white;
}
header .top .sing_up_back .sing_up_modal .hello span {
  font-size: 35px;
}
header .top .sing_up_back .sing_up_modal .steps {
  height: 100px;
}
header .top .sing_up_back .sing_up_modal .main .icon {
  height: 50px;
  width: 10%;
  background-color: #000000b5;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
header .top .sing_up_back .sing_up_modal .main .icon i {
  color: white;
  font-size: 22px;
  margin: 15px;
}
header .top .sing_up_back .sing_up_modal .main .input {
  height: 50px;
  width: 90%;
  background-color: #000000b5 !important;
  background-color: -internal-light-dark(black) !important;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
header .top .sing_up_back .sing_up_modal .main .input input {
  background-color: #fff0 !important;
  border: none;
  height: 100%;
  width: 100%;
  color: white;
  outline: none;
  padding: 0 0 0 15px;
}
header .top .sing_up_back .sing_up_modal .main .name {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
header .top .sing_up_back .sing_up_modal .main .email {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
header .top .sing_up_back .sing_up_modal .main .passwords {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .top .sing_up_back .sing_up_modal .main .passwords .icon {
  height: 50px;
  width: 22.5%;
  background-color: #000000b5;
}
header .top .sing_up_back .sing_up_modal .main .passwords input {
  width: 93%;
}
header .top .sing_up_back .sing_up_modal .main .passwords .passwodr-one {
  width: 47%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .top .sing_up_back .sing_up_modal .main .passwords .password-two {
  width: 47%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .top .sing_up_back .sing_up_modal .buttons {
  height: 100px;
  padding: 50px 0 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .top .sing_up_back .sing_up_modal .buttons #close_sing_up {
  height: 50px;
  width: 47%;
  background-color: #000000b5;
  border-radius: 10px;
  border: 0;
  color: white;
  cursor: pointer;
}
header .top .sing_up_back .sing_up_modal .buttons #continue_sing_up {
  height: 50px;
  width: 47%;
  background-color: #000000b5;
  border-radius: 10px;
  border: 0;
  color: white;
  cursor: pointer;
}
header .top .sing_up_back .sing_up_modal .info {
  height: 100px;
  padding: 50px 0 0 0;
}
header .top .sing_up_back .sing_up_modal .info p {
  color: white;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}
header .top .bascket {
  width: 34px;
  height: 48px;
  padding: 8px 27px 0px 0px;
}
header .top .bascket i {
  font-size: 20px;
  cursor: pointer;
}
header .top .bascket .fa-shopping-basket {
  float: right;
}
header .top .setting {
  width: 24px;
  height: 48px;
  padding: 6px 0px 0px 0px;
  margin: 0 36px 0 0;
}
header .top .setting img {
  width: 24px;
  height: 20px;
  cursor: pointer;
  border-radius: 6px;
}
header .top .setting .fa-cog {
  float: right;
}
header .menu-bar {
  position: absolute;
  top: 48px;
  left: 0;
  /*
   * Just a quick hamburger
   */
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  /*
   * Ohyeah and the last one should go the other direction
   */
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  /*
   * And let's slide it in from the left
   */
}
header .menu-bar .menu-void-back {
  width: 0px;
  height: 0px;
  position: absolute;
  z-index: 1;
}
header .menu-bar #menuToggle {
  display: block;
  position: relative;
  top: -32px;
  left: 70px;
  width: 30px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
header .menu-bar #menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
header .menu-bar #menuToggle a:hover {
  color: tomato;
}
header .menu-bar #menuToggle input {
  display: block;
  width: 23px;
  height: 22px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
header .menu-bar #menuToggle span {
  display: block;
  width: 21px;
  height: 3px;
  margin-bottom: 3px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
header .menu-bar #menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
header .menu-bar #menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}
header .menu-bar #menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
  width: 24px;
}
header .menu-bar #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}
header .menu-bar #menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}
header .menu-bar #menu {
  position: absolute;
  width: 300px;
  margin: 11px 0 0 -90px;
  padding: 50px;
  padding-top: 15px;
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 10px 0px #00000052;
          box-shadow: 5px 5px 10px 0px #00000052;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
header .menu-bar #menu li {
  padding: 10px 0;
  font-size: 22px;
}
header .menu-bar #menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

body {
  width: 100%;
  height: 100%;
  /*----------------------------------------------*/
}
body section.hello {
  width: 100%;
  height: 200px;
  font-size: 95px;
  text-align: center;
  padding: 38px 0 0 0 !important;
}
body section.blocks .box:before {
  content: "";
  display: block;
  margin-top: 75%;
  /* initial ratio of 1:1*/
}
body section.blocks section.blocks:after {
  content: "";
  clear: both;
  display: table;
}
body section.blocks .box_line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 15px 0;
}
body section.blocks .box_line:nth-child(3) {
  display: none;
}
body section.blocks .box {
  position: relative;
  width: 19%;
  margin: 0;
  float: left;
  font-size: 12px;
}
body section.blocks .box img {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  pointer-events: none;
  -webkit-transform: scale(2);
          transform: scale(2);
}
body section.blocks .box .content {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  /* Styling */
  background: black;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  border-radius: 6%;
  overflow: hidden;
}
body section.blocks .box .content .wapper {
  width: 100%;
  height: 100%;
  position: absolute;
}
body section.blocks .box .content .like {
  margin: 10px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: white;
  float: right;
  color: black;
  font-size: 18px;
  padding: 3px 0 0 1px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s opacity, 0.1s visibility;
  transition: 0.3s opacity, 0.1s visibility;
}
body section.blocks .box .content .price {
  margin-left: 10px;
  height: 20px;
  width: 35%;
  position: absolute;
  bottom: 10px;
  background-color: white;
  color: gray;
  font-weight: bold;
  padding: 2px;
  border-radius: 5px;
}
body section.blocks .box .wapper:hover .like {
  opacity: 1;
  visibility: visible;
}
body section.name_category {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body section.name_category .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
body section.name_category div.big {
  width: 68.5%;
}
body section.name_category .left {
  margin-left: 4%;
}
body section.blocks_size .content {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  /* Styling */
  background: black;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  border-radius: 6%;
  overflow: hidden;
}
body section.blocks_size .content .wapper {
  width: 100%;
  height: 100%;
  position: absolute;
}
body section.blocks_size .content img {
  background-color: #fff;
  position: absolute;
  pointer-events: none;
  -webkit-transform: scale(2);
          transform: scale(2);
}
body section.blocks_size .content:hover .like {
  opacity: 1;
  visibility: visible;
}
body section.blocks_size .like {
  margin: 10px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: white;
  float: right;
  color: black;
  font-size: 18px;
  padding: 3px 0 0 1px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s opacity, 0.1s visibility;
  transition: 0.3s opacity, 0.1s visibility;
}
body section.blocks_size .price {
  margin-left: 10px;
  height: 20px;
  width: 35%;
  position: absolute;
  bottom: 10px;
  background-color: white;
  color: gray;
  font-weight: bold;
  padding: 2px;
  border-radius: 5px;
}
body section.blocks_size .box_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body section.blocks_size .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
}
body section.blocks_size .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
body section.blocks_size .box_big:before {
  content: "";
  display: block;
  margin-top: 100%;
  /* initial ratio of 1:1*/
}
body section.blocks_size .box_big {
  position: relative;
  width: 59%;
  margin: 0;
  float: left;
  font-size: 12px;
}
body section.blocks_size .box_smalls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 39%;
  margin-top: 0;
}
body section.blocks_size .box_smalls .box_small:before {
  content: "";
  display: block;
  margin-top: 75%;
  /* initial ratio of 1:1*/
}
body section.blocks_size .box_smalls .box_small {
  position: relative;
  height: 48%;
  margin: 0;
  float: left;
  font-size: 12px;
}
body section.about_us {
  margin-top: 50px;
}
body section.about_us .top {
  padding: 50px 0 50px 0;
  background-color: #ffcb9a;
}
body section.about_us .top h1 {
  text-align: center;
  font-size: 40px;
}
body section.about_us .top h3 {
  text-align: center;
}
body section.about_us .mid {
  padding: 50px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffcb9a;
}
body section.about_us .mid .second {
  margin: 0 10px 0 10px 0;
}
body section.about_us .mid .block {
  width: 30%;
}
body section.about_us .mid h2 {
  text-align: center;
  padding: 0 0 20px 0;
}
body section.about_us .mid p {
  padding: 0 10px 0 10px;
  text-align: center;
}
body section.about_us .bottom {
  padding: 50px 0 130px 0;
}
body section.about_us .bottom p {
  text-align: center;
}
body section.about_us .bottom button {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  border-width: 2px;
  border-color: #222222;
  border-style: solid;
  cursor: pointer;
  margin-top: 20px;
  position: absolute;
  left: calc(50% - 60px);
}
body footer .desktop {
  height: 300px;
  width: 100%;
  padding: 0 20px;
  background: #143952;
  padding: 30px 20px 0px 20px;
}
body footer .desktop .info {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d6d6d6;
}
body footer .desktop .info .menu-desktop {
  margin-bottom: 15px;
}
body footer .desktop .info .menu-flex .wapper {
  margin-bottom: 7px;
}
body footer .desktop .info .menu-flex .wapper .menu-item-child {
  color: #878787;
}
body footer .desktop .info .form {
  width: 30%;
}
body footer .desktop .info .form h1 {
  color: white;
}
body footer .desktop .info .form p {
  width: 250px;
  color: #878787;
}
body footer .desktop .info .about {
  width: 20%;
  padding-left: 30px;
  margin-top: 10px;
}
body footer .desktop .info .sell {
  width: 20%;
  padding-left: 30px;
  margin-top: 10px;
}
body footer .desktop .info .contact {
  width: 30%;
  margin-top: 10px;
}
body footer .desktop .info .contact i {
  width: 25px;
  color: #d6d6d6;
}
body footer .desktop .bottom {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid white;
}
body footer .mobile {
  padding: 0 20px;
  background-color: #262626;
  display: none;
}
body footer .mobile .info {
  padding: 30px 7px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #262626;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #bcbcbc;
}
body footer .mobile .info a {
  color: #868686;
}
body footer .mobile .info .menu-mobile {
  font-size: 22px;
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 5px 0 5px 0;
  -webkit-transition: 0.3s, 0.1s;
  transition: 0.3s, 0.1s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body footer .mobile .info .menu-mobile:hover {
  background-color: #353535;
}
body footer .mobile .info .menu_item {
  background-color: #353535;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
body footer .mobile .info .menu_item .menu-flex {
  padding: 0 0 5px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body footer .mobile .info .menu_item .menu-flex .wapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 0px;
}
body footer .mobile .botton {
  padding: 10px 10px 10px 10px;
  background-color: #262626;
  color: #bcbcbc;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid #353535;
}
body footer .mobile .botton .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body footer .mobile .botton .flex ul li {
  display: inline;
  border-right: 1px solid;
  border-width: 3px;
  padding-right: 5px;
}
body footer .mobile .botton .flex ul li:last-child {
  border: none;
}
body footer .mobile .botton .options {
  width: 300px;
  position: relative;
}
body footer .mobile .botton .options input {
  width: 233px;
  position: absolute;
  top: 16px;
  left: 39px;
  opacity: 0;
  cursor: pointer;
}
body footer .mobile .botton .copyright {
  padding: 15px 0 0 0;
  width: 300px;
}
body footer .mobile .botton .copyright p {
  text-align: center;
}
body #options_frame {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 10;
  display: none;
  -webkit-transition: 0.3s, 0.1s;
  transition: 0.3s, 0.1s;
}
body #options_frame .modal {
  width: 600px;
  height: 535px;
  position: fixed;
  top: 54%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 11;
  color: #fff;
  background: linear-gradient(135deg, #00c7e1, #ff8398);
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  animation: animation-linear-grdient 30s ease infinite;
  -webkit-animation: animation-linear-grdient 30s ease infinite;
  -moz-animation: animation-linear-grdient 30s ease infinite;
  -o-animation: animation-linear-grdient 30s ease infinite;
}
body #options_frame .modal i {
  position: absolute;
  top: 74px;
  right: 66px;
}
body #options_frame .modal i:nth-child(4) {
  position: absolute;
  top: 185px;
  right: 66px;
}
body #options_frame .modal i:nth-child(5) {
  position: absolute;
  top: 297px;
  right: 66px;
}
body #options_frame .modal .wapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}
body #options_frame .modal .wapper select {
  -webkit-transition: border-color 200ms ease-out, -webkit-box-shadow 200ms ease-out;
  transition: border-color 200ms ease-out, -webkit-box-shadow 200ms ease-out;
  transition: border-color 200ms ease-out, box-shadow 200ms ease-out;
  transition: border-color 200ms ease-out, box-shadow 200ms ease-out, -webkit-box-shadow 200ms ease-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 50px;
  padding-left: 12px;
  border-radius: 6px;
  background-color: #000000b5 !important;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 2px;
  color: #fff;
  text-indent: 0.01px;
  cursor: pointer;
  outline: none;
}
body #options_frame .modal .title {
  height: 55px;
  width: 100%;
  position: relative;
  text-align: center;
}
body #options_frame .modal .title p {
  font-size: 30px;
  padding: 34px 0 0 0px;
}
body #options_frame .modal .main_options {
  height: 400px;
  width: 100%;
  position: relative;
}
body #options_frame .modal .main_options p {
  font-size: 18px;
  padding: 34px 0 0 20px;
}
body #options_frame .modal .main_options p:nth-child(3) {
  font-size: 18px;
  padding: 34px 0 0 20px;
}
body #options_frame .modal .main_options p:nth-child(5) {
  font-size: 18px;
  padding: 34px 0 0 20px;
}
body #options_frame .modal .buttons {
  height: 100px;
  width: 100%;
  position: relative;
}
body #options_frame .modal .buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px 0 50px;
}
body #options_frame .modal .buttons #close {
  width: 140px;
  height: 50px;
  border-radius: 10px;
  border-width: 0px;
  cursor: pointer;
  background-color: #000000b5 !important;
  color: #fff;
}
body #options_frame .modal .buttons #save {
  width: 140px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  background-color: #000000b5 !important;
  color: white;
  cursor: pointer;
}
body .menu_item {
  display: none;
}
body .active {
  display: inline-block;
}