.main {
    margin-left: 200px;
    margin-top: 65px;
}
.category-sections {
    -webkit-columns: 3 auto;
    -moz-columns: 3 auto;
    columns: 3 auto;
    margin: 10px 0 0;
    padding-bottom: 25px;
}
.list-nobullet {
    margin-left: 0;
    list-style-type: none;
}
.list {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1d1d1f;
}
ul, ol {
    margin-left: 1.17647em;
}
ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure, form, fieldset, input, legend, pre, abbr, button {
    margin: 0;
    padding: 0;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
body, input, textarea, select, button {
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left;
}
body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #fff;
    color: #1d1d1f;
    font-style: normal;
    display: flex;
}
:root {
    --r-localnav-height: 52px;
    --r-localnav-stacked-height: 66px;
    --r-localnav-gn-height: var(--r-globalnav-height, 44px);
    --r-localnav-viewport-large-min-width: 1024px;
    --r-localnav-viewport-large-query: (min-width: 1024px);
    --r-localnav-viewport-medium-min-width: 834px;
    --r-localnav-viewport-medium-max-width: 1023px;
    --r-localnav-viewport-medium-query: (min-width: 834px);
    --r-localnav-viewport-small-min-width: 320px;
    --r-localnav-viewport-small-max-width: 833px;
    --r-localnav-viewport-small-query: (min-width: 320px);
}
<style>
html {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 106.25%;
    quotes: "“" "”";
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    --r-globalnav-segmentbar-background: #424245;
}
html {
    --r-globalnav-height: 44px;
    --r-globalnav-segmentbar-height: 0px;
    --r-globalnav-viewport-large-min-width: 1024px;
    --r-globalnav-viewport-large-max-width: 1441px;
    --r-globalnav-viewport-large-query: (min-width: 1024px);
    --r-globalnav-viewport-medium-min-width: 834px;
    --r-globalnav-viewport-medium-max-width: 1023px;
    --r-globalnav-viewport-medium-query: (max-width: 1023px);
    --r-globalnav-viewport-small-min-width: 420px;
    --r-globalnav-viewport-small-max-width: 833px;
    --r-globalnav-viewport-small-query: (max-width: 833px);
    --r-globalnav-viewport-xsmall-min-width: 320px;
    --r-globalnav-viewport-xsmall-max-width: 419px;
    --r-globalnav-viewport-xsmall-query: (max-width: 419px);
    --r-globalnav-segmentbar-background: #272729;
    --r-globalnav-segmentbar-text-color: rgba(255,255,255,0.92);
    --r-globalnav-segmentbar-border-color: rgba(255,255,255,0.24);
}
.category .list li {
    margin-top: 0;
}
.list li {
    margin-top: .4em;
}
ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure, form, fieldset, input, legend, pre, abbr, button {
    margin: 0;
    padding: 0;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.list-nobullet {
    margin-left: 0;
    list-style-type: none;
}
.list {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1d1d1f;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
body, input, textarea, select, button {
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left;
}
body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #fff;
    color: #1d1d1f;
    font-style: normal;
}
:root {
    --r-localnav-height: 52px;
    --r-localnav-stacked-height: 66px;
    --r-localnav-gn-height: var(--r-globalnav-height, 44px);
    --r-localnav-viewport-large-min-width: 1024px;
    --r-localnav-viewport-large-query: (min-width: 1024px);
    --r-localnav-viewport-medium-min-width: 834px;
    --r-localnav-viewport-medium-max-width: 1023px;
    --r-localnav-viewport-medium-query: (min-width: 834px);
    --r-localnav-viewport-small-min-width: 320px;
    --r-localnav-viewport-small-max-width: 833px;
    --r-localnav-viewport-small-query: (min-width: 320px);
}
<style>
html {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 106.25%;
    quotes: "“" "”";
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    --r-globalnav-segmentbar-background: #424245;
}
html {
    --r-globalnav-height: 44px;
    --r-globalnav-segmentbar-height: 0px;
    --r-globalnav-viewport-large-min-width: 1024px;
    --r-globalnav-viewport-large-max-width: 1441px;
    --r-globalnav-viewport-large-query: (min-width: 1024px);
    --r-globalnav-viewport-medium-min-width: 834px;
    --r-globalnav-viewport-medium-max-width: 1023px;
    --r-globalnav-viewport-medium-query: (max-width: 1023px);
    --r-globalnav-viewport-small-min-width: 420px;
    --r-globalnav-viewport-small-max-width: 833px;
    --r-globalnav-viewport-small-query: (max-width: 833px);
    --r-globalnav-viewport-xsmall-min-width: 320px;
    --r-globalnav-viewport-xsmall-max-width: 419px;
    --r-globalnav-viewport-xsmall-query: (max-width: 419px);
    --r-globalnav-segmentbar-background: #272729;
    --r-globalnav-segmentbar-text-color: rgba(255,255,255,0.92);
    --r-globalnav-segmentbar-border-color: rgba(255,255,255,0.24);
}
.category-section {
    display: inline-block;
    margin-bottom: 26px;
    vertical-align: top;
    z-index: 1;
    -webkit-column-span: 1;
    -moz-column-span: 1;
    column-span: 1;
}
user agent stylesheet
section {
    display: block;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
    text-decoration: none;
}
li:hover {
    text-align: -webkit-match-parent;
    text-decoration: underline; 
}
.list-nobullet {
    margin-left: 0;
    list-style-type: none;
}
.list {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1d1d1f;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
body, input, textarea, select, button {
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left;
}
body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #fff;
    color: #1d1d1f;
    font-style: normal;
}
:root {
    --r-localnav-height: 52px;
    --r-localnav-stacked-height: 66px;
    --r-localnav-gn-height: var(--r-globalnav-height, 44px);
    --r-localnav-viewport-large-min-width: 1024px;
    --r-localnav-viewport-large-query: (min-width: 1024px);
    --r-localnav-viewport-medium-min-width: 834px;
    --r-localnav-viewport-medium-max-width: 1023px;
    --r-localnav-viewport-medium-query: (min-width: 834px);
    --r-localnav-viewport-small-min-width: 320px;
    --r-localnav-viewport-small-max-width: 833px;
    --r-localnav-viewport-small-query: (min-width: 320px);
}
<style>
html {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 106.25%;
    quotes: "“" "”";
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    --r-globalnav-segmentbar-background: #424245;
}
html {
    --r-globalnav-height: 44px;
    --r-globalnav-segmentbar-height: 0px;
    --r-globalnav-viewport-large-min-width: 1024px;
    --r-globalnav-viewport-large-max-width: 1441px;
    --r-globalnav-viewport-large-query: (min-width: 1024px);
    --r-globalnav-viewport-medium-min-width: 834px;
    --r-globalnav-viewport-medium-max-width: 1023px;
    --r-globalnav-viewport-medium-query: (max-width: 1023px);
    --r-globalnav-viewport-small-min-width: 420px;
    --r-globalnav-viewport-small-max-width: 833px;
    --r-globalnav-viewport-small-query: (max-width: 833px);
    --r-globalnav-viewport-xsmall-min-width: 320px;
    --r-globalnav-viewport-xsmall-max-width: 419px;
    --r-globalnav-viewport-xsmall-query: (max-width: 419px);
    --r-globalnav-segmentbar-background: #272729;
    --r-globalnav-segmentbar-text-color: rgba(255,255,255,0.92);
    --r-globalnav-segmentbar-border-color: rgba(255,255,255,0.24);
}
@font-face {
	font-family:'SF Pro Display';
	font-style:normal;
	font-weight:100;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_ultralight.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_ultralight.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_ultralight.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:italic;
	font-weight:100;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_ultralight-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_ultralight-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_ultralight-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display 100';
	src:url('/wss/fonts/SF-Pro-Display/v2/sf-pro-display_ultralight.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:normal;
	font-weight:200;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_thin.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_thin.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_thin.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:italic;
	font-weight:200;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_thin-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_thin-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_thin-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display 200';
	src:url('/wss/fonts/SF-Pro-Display/v2/sf-pro-display_thin.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:normal;
	font-weight:300;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_light.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_light.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_light.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:italic;
	font-weight:300;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_light-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_light-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_light-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display 300';
	src:url('/wss/fonts/SF-Pro-Display/v2/sf-pro-display_light.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:italic;
	font-weight:400;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_regular-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_regular-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_regular-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:normal;
	font-weight:500;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_medium.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_medium.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_medium.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:italic;
	font-weight:500;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_medium-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_medium-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_medium-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display 500';
	src:url('/wss/fonts/SF-Pro-Display/v2/sf-pro-display_medium.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:normal;
	font-weight:600;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_semibold.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_semibold.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_semibold.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:italic;
	font-weight:600;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_semibold-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_semibold-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_semibold-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display 600';
	src:url('/wss/fonts/SF-Pro-Display/v2/sf-pro-display_semibold.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:normal;
	font-weight:700;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_bold.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_bold.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_bold.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:italic;
	font-weight:700;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_bold-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_bold-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_bold-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display 700';
	src:url('/wss/fonts/SF-Pro-Display/v2/sf-pro-display_bold.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:normal;
	font-weight:800;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_heavy.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_heavy.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_heavy.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:italic;
	font-weight:800;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_heavy-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_heavy-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_heavy-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display 800';
	src:url('/wss/fonts/SF-Pro-Display/v2/sf-pro-display_heavy.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:normal;
	font-weight:900;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_black.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_black.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_black.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:italic;
	font-weight:900;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_black-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_black-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_black-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display 900';
	src:url('/wss/fonts/SF-Pro-Display/v2/sf-pro-display_black.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Display';
	font-style:normal;
	font-weight:400;
	src:url('/wss/fonts/SF-Pro-Display/v2/sf-pro-display_regular.eot');
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_regular.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_regular.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v2/sf-pro-display_regular.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:normal;
	font-weight:100;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_ultralight.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_ultralight.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_ultralight.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:italic;
	font-weight:100;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_ultralight-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_ultralight-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_ultralight-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text 100';
	src:url('/wss/fonts/SF-Pro-Text/v2/sf-pro-text_ultralight.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:normal;
	font-weight:200;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_thin.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_thin.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_thin.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:italic;
	font-weight:200;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_thin-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_thin-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_thin-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text 200';
	src:url('/wss/fonts/SF-Pro-Text/v2/sf-pro-text_thin.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:normal;
	font-weight:300;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_light.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_light.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_light.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:italic;
	font-weight:300;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_light-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_light-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_light-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text 300';
	src:url('/wss/fonts/SF-Pro-Text/v2/sf-pro-text_light.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:italic;
	font-weight:400;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_regular-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_regular-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_regular-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:normal;
	font-weight:500;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_medium.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_medium.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_medium.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:italic;
	font-weight:500;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_medium-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_medium-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_medium-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text 500';
	src:url('/wss/fonts/SF-Pro-Text/v2/sf-pro-text_medium.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:normal;
	font-weight:600;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_semibold.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_semibold.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_semibold.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:italic;
	font-weight:600;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_semibold-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_semibold-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_semibold-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text 600';
	src:url('/wss/fonts/SF-Pro-Text/v2/sf-pro-text_semibold.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:normal;
	font-weight:700;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_bold.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_bold.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_bold.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:italic;
	font-weight:700;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_bold-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_bold-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_bold-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text 700';
	src:url('/wss/fonts/SF-Pro-Text/v2/sf-pro-text_bold.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:normal;
	font-weight:800;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_heavy.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_heavy.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_heavy.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:italic;
	font-weight:800;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_heavy-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_heavy-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_heavy-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text 800';
	src:url('/wss/fonts/SF-Pro-Text/v2/sf-pro-text_heavy.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:normal;
	font-weight:900;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_black.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_black.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_black.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:italic;
	font-weight:900;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_black-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_black-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_black-italic.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text 900';
	src:url('/wss/fonts/SF-Pro-Text/v2/sf-pro-text_black.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Text';
	font-style:normal;
	font-weight:400;
	src:url('/wss/fonts/SF-Pro-Text/v2/sf-pro-text_regular.eot');
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_regular.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_regular.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v2/sf-pro-text_regular.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Icons';
	font-style:normal;
	font-weight:300;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Icons/v1/SFProIcons_light.woff") format("woff"), url("/wss/fonts/SF-Pro-Icons/v1/SFProIcons_light.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Icons 300';
	src:url('/wss/fonts/SF-Pro-Icons/v1/SFProIcons_light.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Icons';
	font-style:normal;
	font-weight:500;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.woff") format("woff"), url("/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Icons 500';
	src:url('/wss/fonts/SF-Pro-Icons/v1/SFProIcons_medium.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Icons';
	font-style:normal;
	font-weight:600;
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Icons/v1/SFProIcons_semibold.woff") format("woff"), url("/wss/fonts/SF-Pro-Icons/v1/SFProIcons_semibold.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Icons 600';
	src:url('/wss/fonts/SF-Pro-Icons/v1/SFProIcons_semibold.eot');
	/* (C) 2015 Apple Inc. All rights reserved. */
}

@font-face {
	font-family:'SF Pro Icons';
	font-style:normal;
	font-weight:400;
	src:url('/wss/fonts/SF-Pro-Icons/v1/SFProIcons_regular.eot');
	src:local('â˜º'), url("/wss/fonts/SF-Pro-Icons/v1/SFProIcons_regular.woff") format("woff"), url("/wss/fonts/SF-Pro-Icons/v1/SFProIcons_regular.ttf") format("truetype");
	/* (C) 2015 Apple Inc. All rights reserved. */
}

.a_s_m {
    text-decoration: none;
    font: 24px;
}