@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  top: 0 !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.skiptranslate {
  display: none !important;
  height: 0 !important;
}

* {
  font-family: "Roboto", sans-serif;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
  color: black;
}

.norm_padding {
  padding: 12px 36px 12px 36px !important;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

header .nav {
  display: block;
  width: 100%;
  position: relative;
  position: fixed;
  height: 3px;
  top: 0px;
  z-index: 11;
}
header .nav #bar {
  background-color: red;
  height: 3px;
  width: 0px;
}
header .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 36px 15px 36px;
  -webkit-box-shadow: 0px 5px 10px 0px #00000052;
  box-shadow: 0px 5px 10px 0px #00000052;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}
header .top .top-left {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
header .top .top-mid {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .top .top-right {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header .top .top-right .conteiner {
  min-width: 100px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 22px;
}
header .top .top-right .setting {
  width: 30px;
  height: 30px;
  margin: 0 15px 0 0;
}
header .top .top-right .setting .country-flag {
  cursor: pointer;
  border-radius: 6px;
}
header .top .top-right .cart {
  cursor: pointer;
  margin: 0 15px 0 0;
  font-size: 25px;
}
header .top .top-right .cart .wrapper {
  border-radius: 5px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .top .top-right .cart i:before {
  vertical-align: middle;
}
header .top .top-right .profil-icon .avatar .circle {
  border-radius: 5px;
}
header .top .logo {
  height: 30px;
}
header .top .logo a {
  font-size: 22px;
  font-weight: 900;
}
header .top .logo i {
  font-size: 25px;
}
header .top .logo .fa-star-of-life:before {
  content: "";
  vertical-align: middle;
}
header .top .bars {
  height: 30px;
}
header .top .bars button {
  border: 0;
  background-color: #0000;
  outline: none;
  cursor: pointer;
}
header .top .bars i {
  font-size: 25px;
}
header .top .bars #bars_button_i {
  display: block;
}
header .top .bars #times_button_i {
  display: none;
}
header .top .bars .fa-bars:before {
  vertical-align: middle;
  display: block;
}
header .top .bars .fa-times:before {
  font-size: 30px;
}
header .top .search {
  width: 300px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
}
header .top .search .search-line {
  position: relative;
}
header .top .search .search-line input, header .top .search .search-line button {
  border: none;
  outline: none;
  border-radius: 3px;
}
header .top .search .search-line input {
  width: 100%;
  height: 30px;
  background-color: #0000;
  font-size: 20px;
}
header .top .search .search-line button {
  position: absolute;
  right: 0;
  top: -2px;
  cursor: pointer;
  background-color: #0000;
}
header .top .search .search-line button:before {
  content: "";
  font-family: FontAwesome;
  font-size: 20px;
  color: #000;
}
header .top .profil-icon {
  height: 30px;
}
header .top .profil-icon .avatar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .top .profil-icon .avatar .circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-position: 0px 0px;
  background-image: url(../img/1.jpg);
  background-size: 110% auto;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .top .profil-icon .avatar .circle:hover {
  border-radius: 20%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .top .menu-bar {
  position: absolute;
  top: 50px;
  left: -300px;
  z-index: 1;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .top .menu-bar .menu-main {
  background-color: #fff;
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 0px 5px 10px 0px #00000052;
          box-shadow: 0px 5px 10px 0px #00000052;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  border-bottom-right-radius: 10px;
}
header .top .menu-bar .menu-main .menu-sub {
  width: 0px;
  height: 0px;
  padding: 0px;
  position: absolute;
  left: 280px;
  top: -20px;
  z-index: 2;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  overflow: hidden;
}
header .top .menu-bar .menu-main .menu-sub .menu-li {
  opacity: 0;
}
header .top .menu-bar .menu-main .menu-li {
  font-size: 20px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
header .top .menu-bar .menu-main .menu-li .menu-a {
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
header .top .menu-bar .menu-main .menu-li .menu-a:hover {
  padding-left: 20px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  width: 600px;
}
header .top .menu-bar .menu-main .menu-li .menu-i {
  font-size: 20px;
  float: right;
  margin-top: 5px;
}
header .top .menu-bar .menu-main .menu-li:hover .menu-sub {
  width: 300px;
  height: 300px;
  padding: 10px;
  opacity: 1;
  -webkit-transition-duration: 0.2s else;
          transition-duration: 0.2s else;
}
header .top .menu-bar .menu-main .menu-li:hover .menu-sub li {
  opacity: 1;
  -webkit-transition-duration: 0.4s else;
          transition-duration: 0.4s else;
}
header .top .menu-bar-active {
  left: 0px !important;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
header .top .sign_up {
  height: 30px;
}
header .top .sign_up i {
  cursor: pointer;
}
header .top .or {
  height: 30px;
  font-weight: 900;
}
header .top .log_in {
  height: 30px;
}
header .top .log_in i {
  cursor: pointer;
}
header .top .sign_up_back, header .top .log_in_back {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 10;
  display: none;
  -webkit-transition: 0.3s, 0.1s;
  transition: 0.3s, 0.1s;
}
header .top .sign_up_back .sign_up_modal, header .top .sign_up_back .log_in_modal, header .top .log_in_back .sign_up_modal, header .top .log_in_back .log_in_modal {
  width: 600px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 11;
  color: #000;
}
header .top .sign_up_back .sign_up_modal .wapper, header .top .sign_up_back .log_in_modal .wapper, header .top .log_in_back .sign_up_modal .wapper, header .top .log_in_back .log_in_modal .wapper {
  padding: 0px 50px;
  height: 100%;
  border-radius: 10px;
}
header .top .sign_up_back .sign_up_modal .hello, header .top .sign_up_back .log_in_modal .hello, header .top .log_in_back .sign_up_modal .hello, header .top .log_in_back .log_in_modal .hello {
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 25px 0 0 0;
  text-transform: uppercase;
  color: white;
}
header .top .sign_up_back .sign_up_modal .hello span, header .top .sign_up_back .log_in_modal .hello span, header .top .log_in_back .sign_up_modal .hello span, header .top .log_in_back .log_in_modal .hello span {
  font-size: 35px;
}
header .top .sign_up_back .sign_up_modal .hello-log, header .top .sign_up_back .log_in_modal .hello-log, header .top .log_in_back .sign_up_modal .hello-log, header .top .log_in_back .log_in_modal .hello-log {
  height: 150px;
  padding: 50px 0 0 0;
}
header .top .sign_up_back .sign_up_modal .comment, header .top .sign_up_back .log_in_modal .comment, header .top .log_in_back .sign_up_modal .comment, header .top .log_in_back .log_in_modal .comment {
  height: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
}
header .top .sign_up_back .sign_up_modal .steps, header .top .sign_up_back .log_in_modal .steps, header .top .log_in_back .sign_up_modal .steps, header .top .log_in_back .log_in_modal .steps {
  height: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
}
header .top .sign_up_back .sign_up_modal .center, header .top .sign_up_back .log_in_modal .center, header .top .log_in_back .sign_up_modal .center, header .top .log_in_back .log_in_modal .center {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .top .sign_up_back .sign_up_modal .center i, header .top .sign_up_back .log_in_modal .center i, header .top .log_in_back .sign_up_modal .center i, header .top .log_in_back .log_in_modal .center i {
  font-size: 100px;
  color: #3e1f33;
}
header .top .sign_up_back .sign_up_modal .main, header .top .sign_up_back .log_in_modal .main, header .top .log_in_back .sign_up_modal .main, header .top .log_in_back .log_in_modal .main {
  margin-top: 20px;
}
header .top .sign_up_back .sign_up_modal .main .icon, header .top .sign_up_back .log_in_modal .main .icon, header .top .log_in_back .sign_up_modal .main .icon, header .top .log_in_back .log_in_modal .main .icon {
  height: 50px;
  width: 10%;
  background-color: #000000b5;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
header .top .sign_up_back .sign_up_modal .main .icon i, header .top .sign_up_back .log_in_modal .main .icon i, header .top .log_in_back .sign_up_modal .main .icon i, header .top .log_in_back .log_in_modal .main .icon i {
  color: white;
  font-size: 22px;
  margin: 15px;
}
header .top .sign_up_back .sign_up_modal .main .input, header .top .sign_up_back .log_in_modal .main .input, header .top .log_in_back .sign_up_modal .main .input, header .top .log_in_back .log_in_modal .main .input {
  height: 50px;
  width: 90%;
  background-color: #000000b5 !important;
  background-color: -internal-light-dark(black) !important;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
header .top .sign_up_back .sign_up_modal .main .input input, header .top .sign_up_back .log_in_modal .main .input input, header .top .log_in_back .sign_up_modal .main .input input, header .top .log_in_back .log_in_modal .main .input input {
  background-color: #fff0 !important;
  border: none;
  height: 100%;
  width: 100%;
  color: white;
  outline: none;
  padding: 0 0 0 15px;
}
header .top .sign_up_back .sign_up_modal .main .name, header .top .sign_up_back .log_in_modal .main .name, header .top .log_in_back .sign_up_modal .main .name, header .top .log_in_back .log_in_modal .main .name {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
header .top .sign_up_back .sign_up_modal .main .email, header .top .sign_up_back .log_in_modal .main .email, header .top .log_in_back .sign_up_modal .main .email, header .top .log_in_back .log_in_modal .main .email {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
header .top .sign_up_back .sign_up_modal .main .passwords, header .top .sign_up_back .log_in_modal .main .passwords, header .top .log_in_back .sign_up_modal .main .passwords, header .top .log_in_back .log_in_modal .main .passwords {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .top .sign_up_back .sign_up_modal .main .passwords .icon, header .top .sign_up_back .log_in_modal .main .passwords .icon, header .top .log_in_back .sign_up_modal .main .passwords .icon, header .top .log_in_back .log_in_modal .main .passwords .icon {
  height: 50px;
  width: 22.5%;
  background-color: #000000b5;
}
header .top .sign_up_back .sign_up_modal .main .passwords .icon-log, header .top .sign_up_back .log_in_modal .main .passwords .icon-log, header .top .log_in_back .sign_up_modal .main .passwords .icon-log, header .top .log_in_back .log_in_modal .main .passwords .icon-log {
  width: 10%;
}
header .top .sign_up_back .sign_up_modal .main .passwords input, header .top .sign_up_back .log_in_modal .main .passwords input, header .top .log_in_back .sign_up_modal .main .passwords input, header .top .log_in_back .log_in_modal .main .passwords input {
  width: 93%;
}
header .top .sign_up_back .sign_up_modal .main .passwords .passwodr-one, header .top .sign_up_back .log_in_modal .main .passwords .passwodr-one, header .top .log_in_back .sign_up_modal .main .passwords .passwodr-one, header .top .log_in_back .log_in_modal .main .passwords .passwodr-one {
  width: 47%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .top .sign_up_back .sign_up_modal .main .passwords .passwodr-one-log, header .top .sign_up_back .log_in_modal .main .passwords .passwodr-one-log, header .top .log_in_back .sign_up_modal .main .passwords .passwodr-one-log, header .top .log_in_back .log_in_modal .main .passwords .passwodr-one-log {
  width: 100%;
}
header .top .sign_up_back .sign_up_modal .main .passwords .password-two, header .top .sign_up_back .log_in_modal .main .passwords .password-two, header .top .log_in_back .sign_up_modal .main .passwords .password-two, header .top .log_in_back .log_in_modal .main .passwords .password-two {
  width: 47%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .top .sign_up_back .sign_up_modal .main-log, header .top .sign_up_back .log_in_modal .main-log, header .top .log_in_back .sign_up_modal .main-log, header .top .log_in_back .log_in_modal .main-log {
  margin-top: 50px;
}
header .top .sign_up_back .sign_up_modal .buttons, header .top .sign_up_back .log_in_modal .buttons, header .top .log_in_back .sign_up_modal .buttons, header .top .log_in_back .log_in_modal .buttons {
  height: 100px;
  padding: 50px 0 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .top .sign_up_back .sign_up_modal .buttons #close_sign_up, header .top .sign_up_back .sign_up_modal .buttons #close_log_in, header .top .sign_up_back .log_in_modal .buttons #close_sign_up, header .top .sign_up_back .log_in_modal .buttons #close_log_in, header .top .log_in_back .sign_up_modal .buttons #close_sign_up, header .top .log_in_back .sign_up_modal .buttons #close_log_in, header .top .log_in_back .log_in_modal .buttons #close_sign_up, header .top .log_in_back .log_in_modal .buttons #close_log_in {
  height: 50px;
  width: 47%;
  background-color: #000000b5;
  border-radius: 10px;
  border: 0;
  color: white;
  cursor: pointer;
}
header .top .sign_up_back .sign_up_modal .buttons #continue_sign_up, header .top .sign_up_back .log_in_modal .buttons #continue_sign_up, header .top .log_in_back .sign_up_modal .buttons #continue_sign_up, header .top .log_in_back .log_in_modal .buttons #continue_sign_up {
  height: 50px;
  width: 47%;
  background-color: #000000b5;
  border-radius: 10px;
  border: 0;
  color: white;
  cursor: pointer;
}
header .top .sign_up_back .sign_up_modal .info, header .top .sign_up_back .log_in_modal .info, header .top .log_in_back .sign_up_modal .info, header .top .log_in_back .log_in_modal .info {
  padding: 20px 0 0 0;
}
header .top .sign_up_back .sign_up_modal .info p, header .top .sign_up_back .log_in_modal .info p, header .top .log_in_back .sign_up_modal .info p, header .top .log_in_back .log_in_modal .info p {
  color: white;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}
header .top .sign_up_back .bascket, header .top .log_in_back .bascket {
  width: 34px;
  height: 48px;
  padding: 8px 27px 0px 0px;
}
header .top .sign_up_back .bascket i, header .top .log_in_back .bascket i {
  font-size: 20px;
  cursor: pointer;
}
header .top .sign_up_back .bascket .fa-shopping-basket, header .top .log_in_back .bascket .fa-shopping-basket {
  float: right;
}

body {
  width: 100%;
  height: 100%;
  /*----------------------------------------------*/
}
body .name-blocks {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}
body .main-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .main-content .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .main-content .conteiner .block {
  margin: 10px 10px;
  width: auto;
  border: 0px solid;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  position: relative;
}
body .main-content .conteiner .block img {
  max-height: 300px;
  border-radius: 10px;
}
body .main-content .conteiner .block .info {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
body .main-content .conteiner .block .info .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 10px 10px 0 10px;
  width: 100%;
}
body .main-content .conteiner .block .info .top .wrapper {
  background-color: #fff;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
  height: 35px;
  width: 35px;
  opacity: 0.7;
}
body .main-content .conteiner .block .info .top .wrapper i {
  font-size: 15px;
  color: #333;
}
body .main-content .conteiner .block .info .top .wrapper .fa-eye {
  font-size: 18px;
}
body .main-content .conteiner .block .bottom {
  padding: 10px;
}
body .main-content .conteiner .block .bottom .meta {
  color: #333;
  font-size: 15px;
  position: relative;
}
body .main-content .conteiner .block .bottom .meta .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .main-content .conteiner .block .bottom .meta .name .pic-name {
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
}
body .main-content .conteiner .block .bottom .meta .name .autor {
  font-weight: 300;
}
body .main-content .conteiner .block .bottom .meta .name .size {
  font-size: 12px;
}
body .main-content .conteiner .block .bottom .meta .size-and-price {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .main-content .conteiner .block .bottom .meta .size-and-price .price {
  font-weight: 900;
  font-size: 25px;
}
body .main-content .conteiner .block .bottom .meta .size-and-price i {
  font-size: 25px;
}
body .main-content .conteiner .block:hover > .info {
  opacity: 1;
}
body section.hello {
  width: 100%;
}
body section.hello .premier {
  width: 100%;
  height: 500px;
  background-color: #333;
}
body section.hello .premier .block {
  padding: 20px;
  float: left;
  color: white;
  text-transform: uppercase;
  border: 0px solid #333;
  font-size: 1.5vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body section.hello .premier .block i {
  font-size: 40px;
}
body section.hello .premier .block:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
          transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}
body section.hello .premier .block:nth-child(1) {
  width: 50%;
  height: 100%;
  background-color: #26a69a;
}
body section.hello .premier .block:nth-child(1) h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 70px;
}
body section.hello .premier .block:nth-child(1) h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body section.hello .premier .block:nth-child(1) h2 span:nth-child(1) {
  font-size: 71px;
}
body section.hello .premier .block:nth-child(1) h2 span:nth-child(2) {
  font-size: 30px;
}
body section.hello .premier .block:nth-child(1) h2 span:nth-child(3) {
  font-size: 50px;
}
body section.hello .premier .block:nth-child(1):hover {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, inset rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, inset rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
body section.hello .premier .block:nth-child(2) {
  width: 50%;
  height: 50%;
  background-color: #ec407a;
}
body section.hello .premier .block:nth-child(2) h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 40px;
}
body section.hello .premier .block:nth-child(2) h2 span {
  font-size: 40px;
}
body section.hello .premier .block:nth-child(2) h2 span:nth-child(2) {
  font-size: 50px;
}
body section.hello .premier .block:nth-child(2):hover {
  border: 20px solid #333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body section.hello .premier .block:nth-child(3) {
  width: 25%;
  height: 50%;
  background: #AB47BC;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body section.hello .premier .block:nth-child(3) h1 {
  font-size: 30px;
}
body section.hello .premier .block:nth-child(3) p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body section.hello .premier .block:nth-child(3) span {
  font-size: 15px;
}
body section.hello .premier .block:nth-child(3):hover > i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body section.hello .premier .block:nth-child(4) {
  width: 25%;
  height: 50%;
  background: #5C6BC0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body section.hello .premier .block:nth-child(4) h1 {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body section.hello .premier .block:nth-child(4) p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body section.hello .premier .block:nth-child(4) span {
  font-size: 15px;
}
body section.hello .premier .block:nth-child(4):hover > i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body section.blocks .box:before {
  content: "";
  display: block;
  margin-top: 75%;
  /* initial ratio of 1:1*/
}
body section.blocks section.blocks:after {
  content: "";
  clear: both;
  display: table;
}
body section.blocks .box_line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 15px 0;
}
body section.blocks .box_line:nth-child(3) {
  display: none;
}
body section.blocks .box {
  position: relative;
  width: 19%;
  margin: 0;
  float: left;
  font-size: 12px;
}
body section.blocks .box img {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  pointer-events: none;
  -webkit-transform: scale(2);
          transform: scale(2);
}
body section.blocks .box .content {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  /* Styling */
  background: black;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  overflow: hidden;
}
body section.blocks .box .content .wapper {
  width: 100%;
  height: 100%;
  position: absolute;
}
body section.blocks .box .content .like {
  margin: 10px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: white;
  float: right;
  color: black;
  font-size: 18px;
  padding: 3px 0 0 1px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s opacity, 0.1s visibility;
  transition: 0.3s opacity, 0.1s visibility;
}
body section.blocks .box .content .price {
  margin-left: 10px;
  height: 20px;
  width: 35%;
  position: absolute;
  bottom: 10px;
  background-color: white;
  color: gray;
  font-weight: bold;
  padding: 2px;
  border-radius: 5px;
}
body section.blocks .box .wapper:hover .like {
  opacity: 1;
  visibility: visible;
}
body section.name_category {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body section.name_category .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
body section.name_category div.big {
  width: 68.5%;
}
body section.name_category .left {
  margin-left: 4%;
}
body section.about_us {
  margin-top: 50px;
}
body section.about_us .top {
  padding: 0px 0 50px 0;
}
body section.about_us .top h1 {
  text-align: center;
  font-size: 40px;
}
body section.about_us .top h3 {
  text-align: center;
}
body section.about_us .mid {
  padding: 0px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body section.about_us .mid .second {
  margin: 0 10px 0 10px 0;
}
body section.about_us .mid .block {
  width: 30%;
  background-color: #ffcb9a;
  padding: 30px;
  border-radius: 30px;
  margin: 0 15px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
body section.about_us .mid h2 {
  text-align: center;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid black;
}
body section.about_us .mid p {
  padding: 0 10px 0 10px;
  text-align: center;
}
body section.about_us .bottom {
  padding: 50px 0 40px 0;
}
body section.about_us .bottom p {
  text-align: center;
}
body section.about_us .bottom button {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  border-width: 2px;
  border-color: #222222;
  border-style: solid;
  cursor: pointer;
  margin-top: 20px;
  position: absolute;
  left: calc(50% - 60px);
}
body footer .desktop {
  height: 283px;
  width: 100%;
  padding: 0 20px;
  background: #143952;
  background-color: #21D4FD;
  background-image: linear-gradient(163deg, #21D4FD 0%, #B721FF 100%);
  padding: 30px 36px 0px 36px;
}
body footer .desktop .info {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}
body footer .desktop .info .menu-desktop {
  margin-bottom: 15px;
}
body footer .desktop .info .menu-flex .wapper {
  margin-bottom: 7px;
  font-weight: lighter;
}
body footer .desktop .info .menu-flex .wapper .menu-item-child {
  color: white;
}
body footer .desktop .info .form {
  width: 30%;
}
body footer .desktop .info .form h1 {
  color: white;
}
body footer .desktop .info .form p {
  width: 250px;
  color: white;
}
body footer .desktop .info .about {
  width: 20%;
  padding-left: 30px;
  margin-top: 10px;
}
body footer .desktop .info .sell {
  width: 20%;
  padding-left: 30px;
  margin-top: 10px;
}
body footer .desktop .info .contact {
  width: 30%;
  margin-top: 10px;
}
body footer .desktop .info .contact i {
  width: 25px;
  color: white;
}
body footer .desktop .bottom {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid white;
  color: white;
}
body footer .desktop .bottom .left {
  width: 40%;
}
body footer .desktop .bottom .left p {
  margin: 16px 0;
  font-size: 15px;
}
body footer .desktop .bottom .mid {
  width: 20%;
  padding: 16px 0;
}
body footer .desktop .bottom .mid .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}
body footer .desktop .bottom .right {
  width: 40%;
}
body footer .desktop .bottom .right ul {
  float: right;
}
body footer .desktop .bottom .right ul li {
  display: inline;
  border-right: 1px solid;
  border-width: 2px;
  padding-right: 5px;
  font-size: 15px;
}
body footer .desktop .bottom .right ul li:last-child {
  border: none;
}
body footer .mobile {
  padding: 0 20px;
  background-color: #262626;
  display: none;
}
body footer .mobile .info {
  padding: 30px 7px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #262626;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #bcbcbc;
}
body footer .mobile .info a {
  color: #868686;
}
body footer .mobile .info .menu-mobile {
  font-size: 22px;
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 5px 0 5px 0;
  -webkit-transition: 0.3s, 0.1s;
  transition: 0.3s, 0.1s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body footer .mobile .info .menu-mobile:hover {
  background-color: #353535;
}
body footer .mobile .info .menu_item {
  background-color: #353535;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
body footer .mobile .info .menu_item .menu-flex {
  padding: 0 0 5px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body footer .mobile .info .menu_item .menu-flex .wapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 0px;
}
body footer .mobile .botton {
  padding: 10px 10px 10px 10px;
  background-color: #262626;
  color: #bcbcbc;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid #353535;
}
body footer .mobile .botton .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body footer .mobile .botton .flex ul li {
  display: inline;
  border-right: 1px solid;
  border-width: 3px;
  padding-right: 5px;
}
body footer .mobile .botton .flex ul li:last-child {
  border: none;
}
body footer .mobile .botton .options {
  width: 300px;
  position: relative;
}
body footer .mobile .botton .options input {
  width: 233px;
  position: absolute;
  top: 16px;
  left: 39px;
  opacity: 0;
  cursor: pointer;
}
body footer .mobile .botton .copyright {
  padding: 15px 0 0 0;
  width: 300px;
}
body footer .mobile .botton .copyright p {
  text-align: center;
}
body #options_frame {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 10;
  display: none;
  -webkit-transition: 0.3s, 0.1s;
  transition: 0.3s, 0.1s;
}
body #options_frame .modal {
  width: 600px;
  height: 535px;
  position: fixed;
  top: 54%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 11;
  color: #fff;
}
body #options_frame .modal i {
  position: absolute;
  top: 74px;
  right: 66px;
}
body #options_frame .modal i:nth-child(4) {
  position: absolute;
  top: 185px;
  right: 66px;
}
body #options_frame .modal i:nth-child(5) {
  position: absolute;
  top: 297px;
  right: 66px;
}
body #options_frame .modal .wapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}
body #options_frame .modal .wapper select {
  -webkit-transition: border-color 200ms ease-out, -webkit-box-shadow 200ms ease-out;
  transition: border-color 200ms ease-out, -webkit-box-shadow 200ms ease-out;
  transition: border-color 200ms ease-out, box-shadow 200ms ease-out;
  transition: border-color 200ms ease-out, box-shadow 200ms ease-out, -webkit-box-shadow 200ms ease-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 50px;
  padding-left: 12px;
  border-radius: 6px;
  background-color: #000000b5 !important;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 2px;
  color: #fff;
  text-indent: 0.01px;
  cursor: pointer;
  outline: none;
}
body #options_frame .modal .title {
  height: 55px;
  width: 100%;
  position: relative;
  text-align: center;
}
body #options_frame .modal .title p {
  font-size: 30px;
  padding: 34px 0 0 0px;
}
body #options_frame .modal .main_options {
  height: 400px;
  width: 100%;
  position: relative;
}
body #options_frame .modal .main_options img {
  width: 150px;
  height: 30px;
}
body #options_frame .modal .main_options p {
  font-size: 18px;
  padding: 34px 0 0 20px;
}
body #options_frame .modal .main_options p:nth-child(3) {
  font-size: 18px;
  padding: 34px 0 0 20px;
}
body #options_frame .modal .main_options p:nth-child(5) {
  font-size: 18px;
  padding: 34px 0 0 20px;
}
body #options_frame .modal .buttons {
  height: 100px;
  width: 100%;
  position: relative;
}
body #options_frame .modal .buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px 0 50px;
}
body #options_frame .modal .buttons #close {
  width: 140px;
  height: 50px;
  border-radius: 10px;
  border-width: 0px;
  cursor: pointer;
  background-color: #000000b5 !important;
  color: #fff;
}
body #options_frame .modal .buttons #save {
  width: 140px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  background-color: #000000b5 !important;
  color: white;
  cursor: pointer;
}
body .menu_item {
  display: none;
}
body .active {
  display: inline-block;
}

#options_frame .modal {
  -webkit-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 37% 0%;
  }
  50% {
    background-position: 64% 100%;
  }
  100% {
    background-position: 37% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 37% 0%;
  }
  50% {
    background-position: 64% 100%;
  }
  100% {
    background-position: 37% 0%;
  }
}
.linear-gradient-animation {
  background: linear-gradient(153deg, #ff7c7c, #9ea4ff, #9295f9, #ff3e80);
  background-size: 800% 800%;
  -webkit-animation: AnimationSignUp 18s ease infinite;
  animation: AnimationSignUp 18s ease infinite;
}

@-webkit-keyframes AnimationSignUp {
  0% {
    background-position: 47% 0%;
  }
  50% {
    background-position: 54% 100%;
  }
  100% {
    background-position: 47% 0%;
  }
}
@keyframes AnimationSignUp {
  0% {
    background-position: 47% 0%;
  }
  50% {
    background-position: 54% 100%;
  }
  100% {
    background-position: 47% 0%;
  }
}