*,
*::before,
*::after {
  box-sizing: border-box;
  
}
* {
  -webkit-tap-highlight-color: transparent;
  transition-timing-function: cubic-bezier(1, 0, 0, 0.95);
}
body {
  top: 0 !important;
  max-width: 1500px;
	width: 100%;
}
.goog-text-highlight {
  background-color: transparent !important;
  box-shadow: none !important;
}
.skiptranslate {
  display: none !important;
  height: 0 !important;
}

// body::-webkit-scrollbar {
//   width: 12px;               /* ширина scrollbar */
// }
// body::-webkit-scrollbar-track {
//   background: orange;        /* цвет дорожки */
// }
// body::-webkit-scrollbar-thumb {
//   background-color: blue;    /* цвет плашки */
//   border-radius: 20px;       /* закругления плашки */
//   border: 3px solid orange;  /* padding вокруг плашки */
// }

* {
	font-family: 'Roboto', sans-serif;
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
 
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
 
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
 
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
 
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
 
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
 
/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}
 
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
 
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
button{
	background-color: #000;
	border-radius: 10px;
	border: 0;
	color: white;
	cursor: pointer;
	padding: 10px;
}
button:hover {
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
input {
 	border: none;
  border-bottom: 1px solid #e3e3e3;
    color: #000;
    border-radius: 0;
    padding-left: 0;
    outline: none;
    width: 100%;
}
i {
	vertical-align: middle;
}

.norm_padding {
	padding: 12px 36px 12px 36px !important;
}
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


html {
	display: flex;
	justify-content: center;
}

header {
	.filter-button{
    	position: fixed;
    	bottom: 80px;
    	right: -100%;
    	width: 60px;
    	height: 60px;
    	background-color: #000;
    	border-radius: 100px;
    	z-index: 3;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	box-shadow: 0 8px 13px rgb(0 0 0 / 24%);
    	transition: 0.2s all;
    	cursor: pointer;
    	span {
    		font-size: 14px;
    		color:white;
    		padding: 0 2px;
    	}
    }
    .filter-button-active {
    	right: 20px;
    }
	.nav {
	  display: block;
	  width: 100%;
	  position: relative;
	  position: fixed;
	  height: 3px;
	  top: 0px;
	  z-index: 11;
	  #bar{
	    background-color: red;
	    height: 3px;
	    width: 0px;
		}
	}
	.top {
		width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 36px 15px 36px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    .top-left {
    	width: 50%;
    	display: flex;
    	justify-content: flex-start;
    }
    .top-mid{
    	position: absolute;
    	left: calc(50% - 12px);
    }
    .top-right {
    	width: 50%;
    	display: flex;
    	justify-content: flex-end;
    	.conteiner {
    		min-width: 100px;
    		margin-right: 15px;
    		display: flex;
    		justify-content: space-between;
    		font-size: 22px;
    	}
    	.setting {
				width: 30px;
		    height: 30px;
	    	margin: 0 15px 0 0;
				.country-flag {
					cursor: pointer;
					border-radius: 6px;
				}
			}
			.cart {
				cursor: pointer;
				margin: 0 15px 0 0;
				font-size: 25px;
				.wrapper {
					border-radius: 5px;
					height: 30px;
					width: 30px;
					display: flex;
					justify-content: center;
				}
				i:before {
					vertical-align: middle;
				}
			}
			.profil-icon {
				font-size: 28px;
		    display: flex;
		    align-items: center;
		    cursor: pointer;
				i {
					display: flex;
				}
				i:before {
					vertical-align: middle;
				}
			}
    }
		.logo {
			height: 30px;
			a{
				font-size: 22px;
				font-weight: 900;
			}
			i {
				font-size: 25px;
			}
			.fa-star-of-life:before {
			   content: "\f621";
				vertical-align: middle;
			}
		}
		.bars {
			height: 30px;
			display: contents;
			button {
				border: 0;
				background-color: #0000;
				outline: none;
				cursor: pointer;
				height: 30px;
				padding: 0;
				color: #000;
			}
			i {
				font-size: 25px;
			}
			#bars_button_i{
				display: block;
			}
			#times_button_i{
				display: none;
			}
			.fa-bars:before {
				vertical-align: middle;
				display: block;
			}
			.fa-times:before{
				font-size: 30px;
			}
		}
		.search {
			width: 0px;
	    height: 30px;
	    margin-left: 10px;
	    display: flex;
	    -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    background-color: #d9d9d9;
	    border-radius: 10px;
	    transition-duration: .2s;
			.search-line{
				display: flex;
				input,  button {
				  border: none;
				  outline: none;
				  border-radius: 3px;
				  padding: 1px;
				}
				input {
				  width: 100%;
				  height: 30px;
				  background-color: #0000;
				  font-size: 20px;
				}
				button {
				  cursor: pointer;
				  background-color: #0000;
				  width: 40px;
				}
				button:before {
				  content: "\f002";
				  font-family: FontAwesome;
				  font-size: 20px;
				  color: #000;
				}
			}			
		}

		.profil-icon {
			.avatar {
				width: 100%;
				display: flex;
				justify-content: center;
				.circle {
					width: 30px;
					height: 30px;
					border-radius: 100%;
					background-position: 0px 0px;
				    background-image: url(../img/1.jpg);
				    background-size: 110% auto;
					background-repeat: no-repeat;
					transition: 0.5s;
				}
				.circle:hover{
					border-radius: 20%;
					transition: 0.5s;
				}
			}
		}
		.dropdown-menu {
			position: absolute;
			z-index: 10;
			top: 60px;
			right: -100%;
			width: 250px;
			background-color: #fff;
			border-radius: 10px;
		  border-bottom-right-radius: 0px; 
		  border-bottom-left-radius: 0px;
			border: 1px solid #cdcdcd;
			transition: 0.2s all;
			.dropdown-main {

				.dropdown-li {
					width: 100%;
					font-size: 20px;
					
					display: flex;
					a {
						padding: 10px 20px;
						width: 100%;
						display: flex;
					}
					.dropdown-name {
						width: 100%;
					}
					.dropdown-icon {
						width: 30px;
						display: flex;
				    align-content: center;
				    justify-content: center;
				    align-items: center;
					}
				}
				.dropdown-li:hover{
					background-color: #cdcdcd;
				}
				.dropdown-li:first-child:hover{
					border-top-right-radius: 10px;
					border-top-left-radius: 10px;
				}
				.dropdown-li:last-child:hover{
					border-bottom-right-radius: 10px;
					border-bottom-left-radius: 10px;
				}
			}
		}
		.menu-bar {
			position: absolute;
			top: 60px;
			left: -100%;
			z-index: 3;
			transition: 0.2s all;
			transition-timing-function: cubic-bezier(1, 0, 0, 0.95);
			
			
			.menu-main {
				background-color: #fff;
				width: 376px;
		    display: flex;
		    justify-content: space-around;
		    flex-direction: column;
		    padding: 10px 0px;
		    border: 1px solid #cdcdcd;
		    border-radius: 10px;
		    border-bottom-right-radius: 0px; 
		    border-bottom-left-radius: 0px;

		    .menu-sub{
					width: 0px;
		    	height: 0px;
		    	padding: 0px;
		    	border:0px;
			    z-index: 2;
			    transition-duration: .2s;
			    overflow:hidden;
			    a {
			    	font-weight: 400;
			    }
			    li:hover {
			    	border-left:0px;
			    	padding-left:20px;
			    	transition-duration: .2s ;
			    }
				}
				
				.menu-li {
					font-size: 20px;
			    font-weight: bold;
			    display: flex;
			    flex-direction: column;
			    position: relative;
			    transition-duration: .2s ;
			    .menu-search {
						width: calc(100% - 38px);
						margin-left: 18px;
						margin-top: 10px;
						margin-bottom: 10px;
						display: none;
					}
			    .menu-a {
			    	width: 100%;
			    	padding: 10px 10px 10px 20px;
			    	transition-duration: .2s ;
			    }
			    
					.menu-i {
						font-size: 20px;
				    float: right;
				    margin-top: 5px;
					}
				}
				.menu-li:hover  .menu-sub{
		    	width: 100%;
		    	height: 200px;
		    	padding: 10px;
		    	opacity: 1;
		    	transition-duration: .2s else;
		    }

			}
			
		}
		.search-bar {
			display: none;
			position: absolute;
			top: 60px;
			left: 0;
			z-index: 1;
			transition-duration: .2s;
			
			
			.search-main {
				background-color: #fff;
				width: 376px;
		    height: 300px;
		    display: flex;
		    justify-content: space-around;
		    flex-direction: column;
		    padding: 10px;
		    border-bottom-right-radius: 10px;
		  }
		}
		.dropdown-menu-active {
			right: 0;
		}
		.menu-bar-active {
			left: 0px;
		}
		.search-bar-active {
			display: flex;
			
		}
		.search-active {
			width: 300px;
			transition-duration: .4s;
		}
		
	}
}


body {
	width: 100%;
	height: 100%;
	overflow-x: hidden !important;
	.name-blocks {
		font-size: 40px;
		text-align: center;
		margin-top: 20px;
		font-weight: 600;
	}
	section.blocks {
    display: flex;
    flex-direction: column;
    .filter {
    	width: 100%;
    	display: none;
    	justify-content: center;
    	transition: 0.2s;
	    position: fixed !important;
	    top: 0px;
	    background-color: #000000ab;
	    z-index: 120;
	    height: 100%;
	    padding: 0 0 60px 0;
    	overflow: auto;
    	.button {
    		cursor: pointer;
    	}
  		.close-filter-button{
  			width: 50%;
    		background-color: #2a2a2a;
		    padding: 20px;
		    border: 0px;
		    position: fixed;
		    bottom: 0px;
		    color: #fff;
		    left: 0px;
    	}
    	.apply-filter-button{
    		width: 50%;
    		background-color: #fff;
    		padding: 20px;
		    border: 0px;
		    position: fixed;
		    bottom: 0px;
		    right: 00px;
    	}
   
	    	
    	.filter-sticky{
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
		    justify-content: space-evenly;
		    flex-direction: row;
				padding: 20px;
    		.category-name {
    			font-size: 20px;
    			font-weight: 500;
    			text-transform: uppercase;
    			text-align: center;
    		}
	    	.wrapper {
	    		min-width: 240px;
	    		padding: 0 20px;
	    		ul {
	    			padding-left: 0px;
	    			li {
	    				label {
	    					.checkbox {
	    						display: none;
	    					}
	    					.checkbox:checked + .custom-checkbox::before{
	    						opacity: 1;
	    					}
	    					.custom-checkbox {
	    						display: inline-block;
	    						width: 22px;
	    						height: 22px;
	    						border: 1px solid #cdcdcd;
	    						border-radius: 5px;
	    					}
	    					.custom-checkbox::before {
	    						content: "";
	    						display: block;
	    						background-color: #cdcdcd;
	    						width: 100%;
	    						height: 100%;
	    						opacity: 0;
	    					}
	    					.text {
	    						padding-left: 10px;
	    						line-height: 40px;
	    						vertical-align:bottom;
	    					}
	    				}
	    				
	    				list-style-type: none;
	    				font-size: 18px;
	    				font-weight: 300;
	    			}
	    		}
	    	}	
    	}
    	.color {
    		position: relative;
    		// .text::after {
    		// 	width: 22px;
			   //  position: absolute;
			   //  left: 180px;
			   //  content: "";
			   //  height: 22px;
			   //  margin-top: 3px;
    		// 	display: inline-block;
    		// 	background-color: black;
    		// }
    	}
    	.filter-sticky > *{
    		min-width: 300px;
		    width: 30%;
		    padding: 10px;
		    margin: 10px 0;
		    overflow: hidden;
		    -webkit-transition: 0.2s;
		    transition: 0.2s;
		    background-color: #fff;
		    border-radius: 10px;
    	}	
    }
    .filter-active {
    	display: block !important;
    	position: fixed !important;
    	top: 0px;
    	left: 0;
    	z-index: 120;
    	height: 100%;
    	padding: 0 0 60px 0;
    	overflow: auto;
    }
		.main-content {
			width: 100%;
			display: flex;
			justify-content: center;
			}
		
		

	}	
	.conteiner-of-pic {
			display: flex;
  			flex-wrap: wrap;
  			justify-content: center;
			.block {
				margin: 10px 10px;
				width: auto;
				
  				border: 0px solid;
  				overflow: hidden;
  				transition-duration: .3s;
  				position: relative;
  				img {
  					max-height: 300px;
  					border-radius: 10px;
  				}
  				.info {
  					position: absolute;
  					top:0px;
  					height: 100%;
  					width: 100%;
  					opacity: 0;
  					transition-duration: .5s;
  					.top{
  						display: flex;
					    justify-content: space-between;
    					align-items: center;		
  						height: 40px;
  						padding: 10px 10px 0 10px;
  						width: 100%;
  						.wrapper {
	  						background-color: #fff;
	  						padding: 5px;
	  						display: flex;
						    justify-content: center;
	    					align-items: center;	
	    					border-radius: 7px;
	    					height: 35px;
	    					width: 35px;
	    					opacity: 0.7;
	  						i {
		  						font-size: 15px;
		  						color: #333;
		  					}
		  					.fa-eye {
	  							font-size: 18px;
	  						}
	  					}
  					}
  				}	
  				.bottom {
						padding: 10px;
						

						.meta{
							color: #333;
							font-size: 15px;
							position: relative;
							.name {
								display: flex;
								flex-direction: column;
								.pic-name {
									font-weight: 500;
									white-space: nowrap;
							    text-overflow: ellipsis;
							    max-width: 200px;
							    overflow: hidden;
								}
								.autor {
									font-weight: 300;
								}
								.size {
									font-size: 12px;
								}
								
							}
								
								
							.size-and-price {
								margin-top: 5px;
								display: flex;
								justify-content: space-between;
								align-items: center;
								.price {
									font-weight: 900;
									font-size: 25px;
								}
								i {
									font-size: 25px;
								}
							}
						}
					}
			}
			.block:hover  > .info{
				opacity: 1;
			}
		}
	section.hello {
		width: 100%;
		.premier {

			width: 100%;
			height: 500px;
			background-color: #333;
			.block{
				padding: 20px;
				float:left;
				color:white;
				text-transform: uppercase;
				border: 0px solid #333;
				font-size: 1.5vw;
				transition: 0.5s;
				display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
				i {
					font-size: 40px;
				}
			}
			.block:hover {
				transition: 0.4s;
				transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
			}
			.block:nth-child(1){
				width: 50%;
				height: 100%;
				background-color: #26a69a;
				h1 {
					display: flex;
					flex-direction: column;
			    align-content: space-around;
			    align-items: center;
			    font-size: 70px;
					
				}
				h2 {
					display: flex;
					flex-direction: column;
			    align-content: space-around;
			    align-items: center;
					span:nth-child(1){
						font-size: 71px;
					}
					span:nth-child(2){
						font-size: 30px;
					}
					span:nth-child(3){
						font-size: 50px;
					}
				}
			}
			.block:nth-child(2){
				width: 50%;
				height: 50%;
				background-color: #ec407a;
				h2 {
					display: flex;
					flex-direction: column;
			    align-content: space-around;
			    align-items: center;
					line-height: 40px;
					span {
						font-size: 40px;
					}
					span:nth-child(2){
						font-size: 50px;
					}
				}
			}
			.block:nth-child(3){
				width: 25%;
				height: 50%;
				background: #AB47BC;
				justify-content: space-around;
				h1 {
					font-size: 30px;
				}
				p {
					display: flex;
					align-items: center;
    			flex-direction: column;
				}
				span{
					font-size: 15px;
				}

			}
			.block:nth-child(3):hover > i{
				transform: rotate(360deg);
				transition: 0.4s;
			}
			.block:nth-child(4){
				width: 25%;
				height: 50%;
				background: #5C6BC0;
				justify-content: space-around;
				h1 {
					font-size: 30px;
					display: flex;
					align-items: center;
    			flex-direction: column;
				}
				p {
					display: flex;
					align-items: center;
    			flex-direction: column;
				}
				span{
					font-size: 15px;
				}
			}
			.block:nth-child(4):hover > i{
				transform: rotate(360deg);
				transition: 0.4s;
			}
		}

	}
	section.name {
	}

	section.name_category {
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;
		.block {
			display:flex;
			width: 50%;
		}
		div.big{
			width: 68.5%;
		}
		.small {
			
		}
		.left {
			margin-left: 4%;
		}
	}

/*----------------------------------------------*/
	section.blocks_size {

	}
	section.about_us {
		margin-top: 50px;
		.top {
			padding: 0px 0 50px 0;
			
			h1{
				text-align: center;
				font-size: 40px;
			}
			h3{
				text-align: center;

			}
		}
		.mid {
			padding: 0px 0 50px 0;
			display: flex;
			justify-content: center;
			
			.second {
				margin: 0 10px 0 10px 0;
			}
			.block {
				width: 30%;
				background-color: #ffcb9a;
				padding: 30px;
    		border-radius: 30px;
    		margin: 0 15px;

    		box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    		}
			h2{
					text-align: center;
					padding: 0 0 10px 0;
					margin: 0 0 10px 0;
					border-bottom: 1px solid black;
				}
				p {
					padding: 0 10px 0 10px;
					text-align: center;
				}
			.first {
				
			}
			.second {

			}
			.third {
			}
		}
		.bottom {
			padding: 50px 0 40px 0;
			
			p {
				text-align: center;
			}
			button {
				width: 140px;
				height: 40px;
				border-radius: 10px;
				border-width: 2px;
				border-color: #222222;
				border-style: solid;
				cursor: pointer;
				margin-top: 20px;
				position: absolute;
				left: calc(50% - 60px);

			}
		}
		
	}
	footer{
		.desktop{
			height: 283px;
			width: 100%;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			padding: 0 20px;
			background: #143952;
			background-color: #21D4FD;
			background-image: linear-gradient(163deg, #09728b 0%, #B721FF 100%);

			
			padding: 30px 36px 0px 36px;

			.info{
				height: 200px;
				display: flex;
				justify-content: center;
				color:white;
				.menu-desktop{
					margin-bottom: 15px;
				}
  			.menu-flex {
  				
  				.wapper {
  					margin-bottom: 7px;
  					font-weight: lighter;
  					.menu-item-child {
  						color: white;
  					}
  				}
  			}
				

				.form {
					width: 30%;
					h1 {
						color:white;
					}
					p {
						width: 250px;
						color: white;
					}
				}
				.about{
					width: 20%;
					padding-left: 30px;
					margin-top: 10px;
				}
				.sell {
					width: 20%;
					padding-left: 30px;
					margin-top: 10px;
				}
				.contact {
					width: 30%;
					margin-top: 10px;
					i {
						width: 25px;
						color:white;
					}
				}
			}
			.bottom{
				height: 50px;
				display: flex;
	    	justify-content: center;
	    	border-top: 1px solid white;
	    	color: white;
	    	.left {
	    		width: 40%;
	    		p {
	    			margin: 16px 0;
	    			font-size: 15px;
	    		}
	    	}
	    	.mid {
	    		width: 20%;
	    		padding: 16px 0;
	    		.social {
	    			display: flex;
	    			justify-content: space-between;
    				font-size: 20px;
	    		}
	    	}
	    	.right {
	    		width: 40%;
	    		
	    		ul {
	    			float: right;
	    		li {
				    display: inline;
				    border-right: 1px solid;
				    border-width: 2px;
				    padding-right: 5px;
				    font-size: 15px;
				   }
				   li:last-child{
							border: none;
						}
				}
	    	}
			}
		}
		.mobile {
			padding: 0 20px 30px 20px;
			background-color: #262626;
			display: none;
		
			.info {
				padding: 30px 7px 30px 0;
				display: flex;
				background-color: #262626;
				justify-content: space-around;
				color:#bcbcbc;
				a {
					color:#868686;
				}
				.menu-mobile {
					font-size: 22px;
					border-radius: 6px;
					border-bottom-left-radius: 0px;
	    		border-bottom-right-radius: 0px;
					padding: 5px 0 5px 0;
					transition: .30s, .10s;
					cursor: pointer;
					display: flex;
	    		justify-content: center;
				}
				.menu_item {
	    		border-radius: 6px;
	    		border-top-left-radius: 0px;
	    		border-top-right-radius: 0px;
					.menu-flex {
						padding: 0 0 5px 7px;
						display: flex;
						flex-direction: column;
						.wapper {
							display: flex;
	    				justify-content: center;
	    				margin: 5px 0px;
						}
					}
				}
			}
			.botton{

				padding: 10px 10px 10px 10px;
				background-color: #262626;
				color:#bcbcbc;
				font-weight: bold;
				display: flex;
	    	justify-content: center;
	    	border-top: 2px solid #353535;
	    	
				.flex {
					display: flex;
					width: 100%;
					justify-content: space-between;
					ul{
						li{
							display: inline;
							border-right: 1px solid;
							border-width: 3px;
							padding-right: 5px;
						}
						li:last-child{
							border: none;
						}
					}
				}
				.options {
					width:300px;
					position: relative;
					input {
						width: 233px;
				    position: absolute;
				    top: 16px;
				    left: 39px;
				    opacity: 0;
				    cursor: pointer;
					}
					
					
				}
				.copyright {
					padding: 15px 0 0 0;
					width: 300px;
					p {
						text-align: center;
					}
				}

			}}
	}
// --------------------------------------------------------------
#options_frame {
						position: fixed;
				    top: 0;
				    left: 0;
				    height: 100%;
				    width: 100%;
				    background-color: #000000ab;
				    z-index: 10;
						display: none;
						transition: .30s , .10s ;
						.modal {
					    width: 600px;
					    height: 535px;
					    position: fixed;
					    top: 54%;
					    left: 50%;
					    margin-top: -300px;
					    margin-left: -300px;
					    background-color: #fff;
					    border-radius: 10px;
					    z-index: 11;
					    color: #fff;

					   
					    .wapper {
					    	display: flex;
					    	justify-content: center;
					    	padding: 0 50px;

					    	.select{
					    		display: flex;
					    		width: 100%;
							    height: 50px;
							    padding-left: 14px;
							    border-radius: 6px;
							    background-color: #000000b5 !important;
							    color: #fff;
							    text-indent: 0.01px;
							    justify-content: space-around;
							    outline: none;
							    padding: 10px;
							    .flag-icon{
							    	cursor: pointer;
							    	width: auto;
							    }
					    	}
					    	select {
						    	transition: border-color 200ms ease-out,box-shadow 200ms ease-out;
						    	appearance: none;
							    width: 100%;
							    height: 50px;
							    border: 0;
							    padding-left: 14px;
							    border-radius: 6px;
							    background-color: #000000b5 !important;
							    color: #fff;
							    text-indent: 0.01px;
							    cursor: pointer;
							    outline: none;
						    }
					    }
						    
							.title {
								width: 100%;

								position: relative;
								text-align: center;
								p {
									font-size: 30px;
	    						padding: 17px 0 0 0px;
								}
							}
							.main_options {
								height: 400px;
								width: 100%;
								position: relative;
								img {
									width: 150px;
									height: 30px;
								}
								p {
									font-size: 18px;
									padding: 30px 0 10px 64px;
								}
							}
							.buttons {
								height: 100px;
								width: 100%;
								position: relative;
								div	{
									display: flex;
							    justify-content: flex-end;
							    padding: 0 50px 0 50px;
								}
								#close {
									width: 60px;
									height: 50px;
									margin-right: 20px;
									border-radius: 10px;
									border-width: 0px;
							    cursor: pointer;
							    background-color: #000000b5 !important;
							    color: #fff;
							    font-size: 30px;
							    padding: 0;
								}
								#save {
									width: 60px;
									height: 50px;
									border-radius: 10px;
									border: 0;
	    						background-color: #000000b5 !important;
	    						color:white;
	    						cursor: pointer;
	    						font-size: 30px;
	    						padding: 0;
								}
							}  
						}
					}
.menu_item{
  display: none;
}

.active{
  display: inline-block;
}

// --------------------------------------------------------------
.sign_up_back, .log_in_back  {
					position: fixed;
			    top: 0;
			    left: 0;
			    height: 100%;
			    width: 100%;
			    background-color: #000000ab;
			    z-index: 10;
					display: none;
					transition: .30s , .10s ;
					.sign_up_modal, .log_in_modal {
				    width: 600px;
				    height: 600px;
				    position: fixed;
				    top: 50%; 
				    left: 50%;
				    margin-top: -300px;
				    margin-left: -300px;
				    background-color: #fff;
				    border-radius: 10px;
				    z-index: 11;
				    color: #000;
				    
				    .wapper {
							padding: 0px 50px;
					    height: 100%;
					    border-radius: 10px;
					  }
						
				    .hello {
				    	height: 100px;
					    font-size: 30px;
					    font-weight: bold;
					    text-align: center;
					    padding: 25px 0 0 0;
					    text-transform: uppercase;
					    color: white;
				    	span {
				    		font-size: 35px;
				    	}
						}
						.hello-log {
							height: 150px;
							padding: 50px 0 0 0;
						}
						.comment{
							height: 50px;
							text-align: center;
							color:white;
							font-size: 20px;
						}
						.steps {
							height: 50px;
							text-align: center;
							color:white;
							font-size: 20px;
						}
						.center {
							height: 100px;
							width: 100%;
							display: flex;
							justify-content: center;
							i {
								font-size: 100px;
    						color: #3e1f33;
							}
						}

						.main {
							margin-top: 20px;
							.icon{
								height: 50px;
								width: 10%;
								background-color: #000000b5;
								border-radius: 10px;
								border-top-right-radius: 0;
								border-bottom-right-radius: 0;
								i {
									color: white;
									font-size: 22px;
									margin: 15px;
								}

							}

							.input{
								height: 50px;
								width: 90%;
								background-color: #000000b5 !important;
								background-color: -internal-light-dark(rgb(0, 0, 0)) !important;
    						border-radius: 10px;
								border-top-left-radius: 0;
								border-bottom-left-radius: 0;
								input {
									background-color: #fff0 !important;
							    border: none;
							    height: 100%;
							    width: 100%;
							    color: white;
							    outline: none;
							    padding: 0 0 0 15px;
								}
							}
							.name {
								height: 50px;
								display: flex;
								margin-bottom: 20px;
							}
							.email {
								height: 50px;
								display: flex;
								margin-bottom: 20px;
							}
							.passwords {
								height: 50px;
								display: flex;
								justify-content: space-between;
								.icon{
									height: 50px;
									width: 22.5%;
									background-color: #000000b5;
								}
								.icon-log {
									width: 10%;
								}
								input {
									width: 93%;
								}
								.passwodr-one {
									width: 47%;
									height: 50px;
									display: flex;
								}
								.passwodr-one-log {
									width: 100%;
								}
								.password-two {
									width: 47%;
									height: 50px;
									display: flex;
								}
							}
						}
						.main-log {
							margin-top: 50px;
						}
						.buttons {
							height: 100px;
							padding: 50px 0 0 200px;
							display: flex;
							justify-content: flex-end;

							#close_sign_up,#close_log_in{
								height: 50px;
								width: 60px;
								background-color: #000000b5;
								border-radius: 10px;
								border: 0;
								margin-right: 20px;
								color: white;
								cursor: pointer;
								font-size: 30px;
								padding: 0;
							}
							#continue_sign_up {
								height: 50px;
								width: 60px;
								background-color: #000000b5;
								border-radius: 10px;
								border: 0;
								color: white;
								cursor: pointer;
								font-size: 30px;
								padding: 0;
							}
						}
						.info {
							
							padding: 20px 0 0 0;
							p {
								color: white;
								font-size: 18px;
								font-weight: lighter;
								text-align: center;
							}
						}
				  }		
		}

}
#options_frame .modal {
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:37% 0%}
    50%{background-position:64% 100%}
    100%{background-position:37% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:37% 0%}
    50%{background-position:64% 100%}
    100%{background-position:37% 0%}
}
@keyframes AnimationName {
    0%{background-position:37% 0%}
    50%{background-position:64% 100%}
    100%{background-position:37% 0%}
}


.linear-gradient-animation{
    background: linear-gradient(153deg, #ff7c7c, #9ea4ff, #9295f9, #ff3e80);
    background-size: 800% 800%;

    -webkit-animation: AnimationSignUp 18s ease infinite;
    -moz-animation: AnimationSignUp 18s ease infinite;
    -o-animation: AnimationSignUp 18s ease infinite;
    animation: AnimationSignUp 18s ease infinite;
}

@-webkit-keyframes AnimationSignUp {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@-moz-keyframes AnimationSignUp {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@-o-keyframes AnimationSignUp {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}
@keyframes AnimationSignUp {
    0%{background-position:47% 0%}
    50%{background-position:54% 100%}
    100%{background-position:47% 0%}
}