header {
	.top {
		margin-bottom: 20px;
	}
}
html {
	display: flex;
	justify-content: center;
}
body {
	max-width: 1500px;
	width: 100%;

	.main {
		background-color: #e8e9ee;
		display:flex;
		justify-content: space-between;
		
		width: 100%;
		height: 100%;
		padding: 20px 36px;
		.cart {
			height: 100%;
			width: 100%;
			.title {
				p {
					font-size: 30px;
					margin-top: 10px;
					margin-bottom: 40px;
				}
			}
			.list {
				width: 100%;
				.picture {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					margin-bottom: 30px;
					.block {
						
						width: 200px;
						height: 200px;
					    border-radius: 10px;
					    overflow: hidden;
					    img {
						   object-fit: cover;
						    width: 100%;
						    height: 100%;
					    }
					}
					.info {
						margin: 0 10px ;
						height: 200px;
					    display: flex;
					    flex-direction: column;
					    justify-content: space-between;
					    .cell {
					    	display: flex;
					    	p {
					    		padding: 0 10px;
					    		font-size: 16px;
					    	}
					    }
					    p:nth-child(1n){
					    	color: #5a5a5a;

					    }
					    p:nth-child(2n){
					    	color: #333;
					    	font-weight: 900;
					    }
					    p.last {
					    	font-weight: 300;
					    	color: #5a5a5a;
					    }
					}
				}
				.picture:last-child{
					margin-bottom: 0px;
				}
			}
			.price-box {
				display: flex;
				justify-content: end;
				height: 100px;
				.price {
					height: 100%;
					width: 200px;
					display: flex;
				}
			}
		}
		.contact-detatls {
			color: #e8e9ee;
			width: 600px;
			
			.conteiner {
				position: relative;
				padding: 20px;
				border-radius: 10px;
				width: 100%;
				height: 100%;
				background: -webkit-linear-gradient(90deg,#4ecdc4,#86aed9);
				p {
					font-size: 25px;
					margin-bottom: 20px;
					font-weight: bold;
					i {
						float: right;
					}
				}
				.card{
					width: 300px;
					height: 200px;
					padding: 0 15px;
					border-radius: 10px;
					background-color: #1d1f2b;
					box-shadow: 5px 0 20px -14px black;
					margin: auto;
					position: relative;
					.payment-system {
						position: absolute;
						font-size: 40px;
						right: 20px;
						top:10px;
					}
					.card-number {
						position: absolute;
						display: flex;
						justify-content: space-between;
						width: 260px;
					    top: 110px;
					    left: 20px;
					    font-size: 20px;
					}
					.card-name {
						position: absolute;
						top: 150px;
						left: 20px;
						font-size: 20px;
					}
					.valid-period {
						position: absolute;
						top: 150px;
						right: 20px;
						font-size: 20px;
					}

				}
			}
			.price-box {
				  height: 100%;
				  .price {
				  	position: sticky;
				  	bottom: 0;
				  	min-height: 2em;
				  	background: lightpink;
				  }
			}
		}
	}
		
}
footer {
	margin-top: 20px;
	.desktop {

	}
}