* {
	transition: 0.2s all;
}

section.create-artwork {
	width: 100%;
	
	 
	.hat {
		height: 60px;
		width: 100%;
		position: sticky;
		top:0;
		padding: 10px 36px;
		box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
		overflow: hidden;
		background-color: #fff;
		z-index: 1;
		.visible {
			
			display: flex;
			justify-content: space-between;
			.cell {
				display: flex;
				flex-direction: column;
				justify-content: center;
				font-size: 20px;
				i {
					font-size: 30px;

				}
			}
		}
		.unvisible{
			display: none;
			.preview {
			display: flex;
			flex-direction: column;
    		align-items: center;
			.title {
				padding: 20px 0px 0px 0px;
				display: flex;
				text-align: center;
				margin-bottom: 20px;
			}
			.hashtag{
				ul {
					display: flex;
					padding: 0;
					flex-wrap: wrap;
					li {
						margin-right: 10px;
						margin-bottom: 10px;
						background-color: #dadedf;
						border-radius: 20px;
						padding: 10px;
						list-style: none;
						font-weight: 500;
						margin-right: 10px;
						color: #9a9ea2;
						cursor: pointer;
					}
				}
			}
		}
		}

	}
	.hat-active {
		height: 100vh;
		position: fixed;
		overflow: scroll;
		transition: 0.5s;
		.unvisible {
			display: block;
		}
	}
	
	
	
	.content {
		display: flex;
		padding: 0 36px 40px 36px;
		.form {
			.line {
				width: 100%;
				.style {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					label {
						width: 50%;
					}	
				}
				.title {
					display: flex;
					margin: 20px 0;
					.number {
						    min-width: 30px;
						    height: 30px;
						    line-height: 30px;
						    background: #333;
						    margin: 2px 10px 0 0;
						    border-radius: 50%;
						    text-align: center;
						    color: #fff;
						
					}
				}
				input {
					
				}
				select {
					border: none;
					border-bottom: 1px solid #e3e3e3;
				    color: #000;
				    border-radius: 0;
				    padding-left: 0;
				    outline: none;
				    width: 100%;
				    
				}
				label {
					color: #b3b3b3;
				    cursor: pointer;
				    font-weight: 500;
					.checkbox {
						display: none;
					}
					.checkbox:checked + .custom-checkbox::before{
						opacity: 1;
					}
					.checkbox:checked ~ .text{
						color: #000;
					}
					.custom-checkbox {
						display: inline-block;
						width: 22px;
						height: 22px;
						border: 2px solid #cdcdcd;
						position: relative;
						border-radius: 4px;
					}
					.custom-checkbox::before {
						content: "";
						display: block;
						position: absolute;
						top: -2px;
						left: -2px;
						border-radius: 4px;
						border: 2px solid #333;
    					background-color: #333;
						width: 22px;
						height: 22px;
						opacity: 0;
					}
					.text {
						padding-left: 10px;
						line-height: 34px;
						vertical-align:bottom;
					}

				}
				p {
					color: #c3c3c3;
					margin-bottom: 20px;
				}
			}
		}
		
	}
}